{% extends "base.html" %}

{% block content %}

    <div id="page-header">
        USER PROFILE
    </div>

    <div>
        {% if not profile_user.profile_picture %}
            {% if not profile_user.favourite_team %}
                <img class="profile-logo" src="/media/images/users/default.png" />
            {% else %}
                <img class="profile-logo" src="/media/{{ profile_user.favourite_team.large_logo }}" />
            {% endif %}
        {% else %}
            <img class="profile-logo" src="/media/{{ profile_user.profile_picture }}" />
        {% endif %}

        <div class="left-header">
            <strong>Username:</strong><br /> {{ profile_user.username }}
        </div>

        <p>
            <strong>Full name:</strong><br />
            {{ profile_user.first_name }} {{ profile_user.last_name }}
        </p>
        <p>
            <strong>Member since:</strong><br />
            {{ profile_user.date_joined|date:'d F Y, H:i' }}
        </p>
        <p>
            <strong>Last successful login:</strong><br />
            {{ profile_user.last_login|date:'d F Y, H:i' }}
        </p>
        <p>
            <strong>Favourite Team:</strong>
            {% if not profile_user.favourite_team %}
                Not Set
            {% else %}
                <img class="small-logo" src="/media/{{ profile_user.favourite_team.small_logo }}" />
                <a class="standard-link" href="/teams/{{ profile_user.favourite_team.geographic_name|lower }}">
                    {{ profile_user.favourite_team }}
                </a>
            {% endif %}
        </p>

        <p>
            <strong>Recent Activity:</strong><br />
            {% if comments %}
                {% for comment in comments %}
                    <span class="arrow">&#9658;</span> {{ comment.created_date|date:'d/m/Y' }}: Commented on<br />
                    <a class="standard-link" href="/news/{{ comment.item.id }}/">{{ comment.item }}</a>
                {% endfor %}
            {% else %}
                No activity yet.
            {% endif %}
        </p>

    </div>



{% endblock %}