{% extends "base.html" %}

{% block content %}

    <div id="page-header">
        USER PROFILE
    </div>

    <div>
        {% if not user.profile_picture %}
            {% if not user.favourite_team %}
                <img class="profile-logo" src="/media/images/users/default.png" />
            {% else %}
                <img class="profile-logo" src="/media/{{ user.favourite_team.large_logo }}" />
            {% endif %}
        {% else %}
            <img class="profile-logo" src="/media/{{ user.profile_picture }}" />
        {% endif %}
        <p>
            Welcome, {{ user.username }}
        </p>
        <p>
            <strong>Member since:</strong><br />
            {{ user.date_joined|date:'d F Y, H:i' }}
        </p>
        <p>
            <strong>Last successful login:</strong><br />
            {{ user.last_login|date:'d F Y, H:i' }}
        </p>
        <p>
            <strong>Favourite Team:</strong>
            {% if not user.favourite_team %}
                Not Set
            {% else %}
                <img class="small-logo" src="/media/{{ user.favourite_team.small_logo }}" />
                <a class="standard-link" href="/teams/{{ user.favourite_team.geographic_name|lower }}">
                    {{ user.favourite_team }}
                </a>
            {% endif %}
        </p>

        <p>
            <strong>Recent Activity:</strong><br />
            {% for comment in comments %}
                <span class="arrow">&#9658;</span> {{ comment.created_date|date:'d/m/Y' }}: Commented on<br />
                <a class="standard-link" href="/news/{{ comment.item.id }}/">{{ comment.item }}</a>
            {% endfor %}
        </p>

    </div>



{% endblock %}