{% extends "base.html" %}

{% block below %}

    <section id="banner-news">

        {% for article in news %}
            <div class="banner-story">
                <a class="banner-link" href="/news/{{ article.id }}">
                    {% if article.cover_image %}
                        <img class="cover-image" src="/media/{{ article.cover_image }}" />
                    {% else %}
                        <img class="cover-image" src="/media/images/news/covers/default.jpg" />
                    {% endif %}
                </a>
                <div class="banner-headline">
                    <a class="banner-link" href="/news/{{ article.id }}">{{ article.title }}</a>
                </div>
            </div>
        {% endfor %}

        <div id="news-navigation">
            {% for article in news %}
                <div class="news-blob"></div>
            {% endfor %}
        </div>

    </section>

    <section id="partners">

        <div class="white-title">
            <span id="left-scroll">
                <<
            </span>
                LEAGUE SPONSORS
            <span id="right-scroll">
                >>
            </span>
        </div>

        <div id="logo-wrapper">
            <div class="partner-logos">
                <img class ="company-logo" src="/media/images/sponsors/purple.png" />
            </div>
            <div class="partner-logos">
                <img class ="company-logo" src="/media/images/sponsors/alpha.png" />
            </div>
            <div class="partner-logos">
                <img class ="company-logo" src="/media/images/sponsors/owl.png" />
            </div>
            <div class="partner-logos">
                <img class ="company-logo" src="/media/images/sponsors/jet.png" />
            </div>
            <div class="partner-logos">
                <img class ="company-logo" src="/media/images/sponsors/root.png" />
            </div>
            <div class="partner-logos">
                <img class ="company-logo" src="/media/images/sponsors/ace.png" />
            </div>
            <div class="partner-logos">
                <img class ="company-logo" src="/media/images/sponsors/dragon.png" />
            </div>
        </div>

    </section>

    <script src="/static/js/news_fader.js"></script>

{% endblock %}
