{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="column-wrapper">

        <div id="details-column" class="column">

            <section id="banner-news">

                {% for article in news_headlines %}
                    <div class="banner-story">
                        <a class="banner-link" href="{% url 'news' article.id %}">
                            {% if article.cover_image %}
                                <img class="cover-image fade-in" src="/media/{{ article.cover_image }}" />
                            {% else %}
                                <img class="cover-image fade-in" src="/media/{{ article.category.default_image }}" />
                            {% endif %}
                        </a>
                        <div class="banner-headline">
                            <a class="banner-link fade-in" href="{% url 'news' article.id %}">{{ article.title }}</a>
                        </div>
                    </div>
                {% endfor %}

                <div id="news-navigation">
                    {% for article in news_headlines %}
                        <div class="news-blob" onclick="newsFader({{ forloop.counter }})"></div>
                    {% endfor %}
                </div>

                <div class="full-details">
                    <a class="standard-link" href="{% url 'news_index' %}">[All News]</a>
                </div>

            </section>

            <section id="extra-news">

                {% if favourite_team %}

                    <div class="user-news {{ favourite_team.geographic_name|lower }}-tag">
                        <img class="user-news-logo" src="/media/{{ favourite_team.small_logo }}" />
                        CLUB NEWS
                    </div>

                {% else %}

                    <div class="user-news league-news">
                        OLDER NEWS
                    </div>

                {% endif %}

                {% for item in extra_news %}
                    <div class="news-link">
                        <span class="arrow">&#9658;</span>
                        <a class="standard-link" href="{% url 'news' item.id %}">
                            {{ item.title }}
                        </a>
                    </div>
                {% endfor %}

            </section>

        </div>

        <div id="stats-column" class="column">

            {% include 'statistics_bar.html' %}

        </div>

    </div>

{% endblock %}

{% block below %}

    <section id="partners">

        <div class="white-title">
            <span id="left-scroll">
                <<
            </span>
                LEAGUE SPONSORS
            <span id="right-scroll">
                >>
            </span>
        </div>

        <div id="logo-wrapper">
            <div class="partner-logos">
                <img class ="company-logo" src="/media/images/sponsors/purple.png" />
            </div>
            <div class="partner-logos">
                <img class ="company-logo" src="/media/images/sponsors/alpha.png" />
            </div>
            <div class="partner-logos">
                <img class ="company-logo" src="/media/images/sponsors/owl.png" />
            </div>
            <div class="partner-logos">
                <img class ="company-logo" src="/media/images/sponsors/jet.png" />
            </div>
            <div class="partner-logos">
                <img class ="company-logo" src="/media/images/sponsors/root.png" />
            </div>
            <div class="partner-logos">
                <img class ="company-logo" src="/media/images/sponsors/ace.png" />
            </div>
            <div class="partner-logos">
                <img class ="company-logo" src="/media/images/sponsors/dragon.png" />
            </div>
        </div>

    </section>

    <script src="{% static "js/news_fader.js" %}"></script>

{% endblock %}
