{% extends "base.html" %}

{% block below %}

    <section id="partners">

        <div class="white-title">
            <span id="left-scroll">
                <<
            </span>
                LEAGUE SPONSORS
            <span id="right-scroll">
                >>
            </span>
        </div>

        <div id="logo-wrapper">
            <div class="partner-logos">
                <img class ="company-logo" src="/media/images/sponsors/purple.png" />
            </div>
            <div class="partner-logos">
                <img class ="company-logo" src="/media/images/sponsors/alpha.png" />
            </div>
            <div class="partner-logos">
                <img class ="company-logo" src="/media/images/sponsors/owl.png" />
            </div>
            <div class="partner-logos">
                <img class ="company-logo" src="/media/images/sponsors/jet.png" />
            </div>
            <div class="partner-logos">
                <img class ="company-logo" src="/media/images/sponsors/root.png" />
            </div>
            <div class="partner-logos">
                <img class ="company-logo" src="/media/images/sponsors/ace.png" />
            </div>
            <div class="partner-logos">
                <img class ="company-logo" src="/media/images/sponsors/dragon.png" />
            </div>
        </div>

    </section>

{% endblock %}