            <section id="scores">
    
                {% include 'quick_scores.html' %}
    
            </section>
    
            <section id="standings">
    
                <div class="league-box colour-box">
                    STANDINGS
                </div>
    
                <div class="single-column">
    
                    {% for conference in conferences %}
    
                        <div class="spaced-column">
    
                            <div class="close-header">
                                {{ conference.name }}
                            </div>
    
                            {% include 'standings.html' %}
    
                        </div>
    
                    {% endfor %}
    
                </div>

                <span class="full-details">
                    <a class="standard-link" href="/standings/">[Detailed Standings]</a>
                </span>
    
            </section>
