<div class="single-column">

    <div class="league-box colour-box">
        RESULTS
    </div>
    <div class="close-header">
        {{ latest_date|date:"d F Y" }}
    </div>

    <table class="stat-table alternating-no-header">

        <!-- For each game on the most recent game date, show the result. -->
        {% for result in results %}
            <tr>

                <!-- If the away team is the user's favourite, highlight their name. -->
                {% if result.away_team == team %}
                    <td class="team-abbreviation {{ team.geographic_name|lower }}-tag">
                        <a class="{{ team.geographic_name|lower }}-link plain-link" href=
                                "{% url 'team_page' result.home_team.geographic_name|lower %}">
                            {{ result.away_team.abbreviation }}
                        </a>
                    </td>
                {% elif not team and result.away_team == user.favourite_team %}
                    <td class="team-abbreviation {{ user.favourite_team.geographic_name|lower }}-tag">
                        <a class="{{ user.favourite_team.geographic_name|lower }}-link plain-link" href=
                                "{% url 'team_page' result.home_team.geographic_name|lower %}">
                            {{ result.away_team.abbreviation }}
                        </a>
                    </td>
                {% else %}
                    <td class="team-abbreviation">
                        <a class="table-link" href="{% url 'team_page' result.away_team.geographic_name|lower %}">
                            {{ result.away_team.abbreviation }}
                        </a>
                    </td>
                {% endif %}

                <td class="stat-detail">
                    {{ result.away_team_runs }}
                    -
                    {{ result.home_team_runs }}
                </td>

                <!-- If the home team is the user's favourite, highlight their name. -->
                {% if result.home_team == team %}
                    <td class="team-abbreviation {{ team.geographic_name|lower }}-tag">
                        <a class="{{ team.geographic_name|lower }}-link plain-link" href=
                                "{% url 'team_page' result.home_team.geographic_name|lower %}">
                            {{ result.home_team.abbreviation }}
                        </a>
                    </td>
                {% elif not team and result.home_team == user.favourite_team %}
                    <td class="team-abbreviation {{ user.favourite_team.geographic_name|lower }}-tag">
                        <a class="{{ user.favourite_team.geographic_name|lower }}-link plain-link" href=
                                "{% url 'team_page' result.home_team.geographic_name|lower %}">
                            {{ result.home_team.abbreviation }}
                        </a>
                    </td>
                {% else %}
                    <td class="team-abbreviation">
                        <a class="table-link" href="{% url 'team_page' result.home_team.geographic_name|lower %}">
                            {{ result.home_team.abbreviation }}
                        </a>
                    </td>
                {% endif %}

            </tr>
        {% endfor %}
    </table>

    <span class="full-details">
        <a class="standard-link" href="{% url 'full_results' %}">[More Results]</a>
    </span>

    <div class="league-box colour-box">
        FIXTURES
    </div>
    <div class="close-header">
        {{ next_date|date:"d F Y" }}
    </div>

    <table class="stat-table alternating-no-header">

        <!-- For each game on the most next game date, show the fixture. -->
        {% for fixture in fixtures %}
            <tr>

                <!-- If the away team is the user's favourite, highlight their name. -->
                {% if fixture.away_team == team %}
                    <td class="team-abbreviation {{ team.geographic_name|lower }}-tag">
                        <a class="{{ team.geographic_name|lower }}-link plain-link" href=
                                "{% url 'team_page' fixture.away_team.geographic_name|lower %}">
                            {{ fixture.away_team.abbreviation }}
                        </a>
                    </td>
                {% elif not team and fixture.away_team == user.favourite_team %}
                    <td class="team-abbreviation {{ user.favourite_team.geographic_name|lower }}-tag">
                        <a class="{{ user.favourite_team.geographic_name|lower }}-link plain-link" href=
                                "{% url 'team_page' fixture.away_team.geographic_name|lower %}">
                            {{ fixture.away_team.abbreviation }}
                        </a>
                    </td>
                {% else %}
                    <td class="team-abbreviation">
                        <a class="table-link" href="{% url 'team_page' fixture.away_team.geographic_name|lower %}">
                            {{ fixture.away_team.abbreviation }}
                        </a>
                    </td>
                {% endif %}

                <td class="stat-detail">
                    {{ fixture.game_time|time:'G:i' }}
                </td>

                <!-- If the home team is the user's favourite, highlight their name. -->
                {% if fixture.home_team == team %}
                    <td class="team-abbreviation {{ team.geographic_name|lower }}-tag">
                        <a class="{{ team.geographic_name|lower }}-link plain-link" href=
                                "{% url 'team_page' fixture.home_team.geographic_name|lower %}">
                            {{ fixture.home_team.abbreviation }}
                        </a>
                    </td>
                {% elif not team and fixture.home_team == user.favourite_team %}
                    <td class="team-abbreviation {{ user.favourite_team.geographic_name|lower }}-tag">
                        <a class="{{ user.favourite_team.geographic_name|lower }}-link plain-link" href=
                                "{% url 'team_page' fixture.home_team.geographic_name|lower %}">
                            {{ fixture.home_team.abbreviation }}
                        </a>
                    </td>
                {% else %}
                    <td class="team-abbreviation">
                        <a class="table-link" href="{% url 'team_page' fixture.home_team.geographic_name|lower %}">
                            {{ fixture.home_team.abbreviation }}
                        </a>
                    </td>
                {% endif %}

            </tr>
        {% endfor %}
    </table>

    <span class="full-details">
        <a class="standard-link" href="{% url 'full_fixtures' %}">[More Fixtures]</a>
    </span>

</div>