{% extends "base.html" %}

{% block content %}

    <div id="page-header">
        SEASON ARCHIVE
    </div>

    <table class="stat-table alternating-rows">

        <tr class="header-row">
            <th>Year</th>
            <th>Champion</th>
            <th>Sc.</th>
            <th>Runner-Up</th>
        </tr>
        {% for season in seasons %}
            <tr>
                <td>
                    <a class="table-link" href="/archive/{{ season.year }}">
                        {{ season.year }}
                    </a>
                </td>
                <td>
                    <strong>
                        <a class="table-link" href="/archive/{{ season.year }}/{{ season.champion.geographic_name|lower }}">
                            {{ season.champion.geographic_name }}
                        </a>
                    </strong>
                </td>
                <td>
                    {% if season.series_score %}
                        <a class="table-link" href="/archive/{{ season.year }}/#championship">
                            {{ season.series_score }}
                        </a>
                    {% endif %}
                </td>
                <td>
                    <a class="table-link" href="/archive/{{ season.year }}/{{ season.finalist.geographic_name|lower }}">
                        {{ season.finalist.geographic_name }}
                    </a>
                </td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}