{% extends "base.html" %}

{% block content %}

    <div class="column-wrapper">

        <div id="details-column" class="column">

            <h1>
                LEAGUE STANDINGS
            </h1>

            <!-- Select box to choose which year's standings to show. The form submits whenever the user makes a
            selection. -->
            <form id="inline-form" role="form" onchange="submit();"
                      method="post" action="{% url 'standings' %}">
                {% csrf_token %}
                {{ form.as_p }}
            </form>

            <!-- For each conference, show the full standings. -->
            {% for conference in conferences %}

                <div class="sub-header">
                    {{ conference.name }}
                </div>

                {% include 'full_standings.html' %}

            {% endfor %}

            <!-- Explanatory notes regarding the standings. -->
            <div id="item-content">
                <p>
                    NB:<br />
                    The winners of each Conference meet in the best-of-7 game Championship Series. In
                    the event of two or more teams finishing in a tie for first place, tie-breakers games will be
                    played to determine the Conference champion.
                </p>

            </div>

            <div id="item-content" class="for-desktop">
                <p>
                    RF = Runs For, RA = Runs Against, +/- = Net Runs. 'H' and 'A' refer to home and away win/loss
                    records.
                </p>

            </div>

        </div>

        <div id="stats-column" class="column for-desktop">

            <section id="scores">

                {% include 'quick_scores.html' %}

            </section>

        </div>

    </div>

{% endblock %}
