{% extends "base.html" %}

{% block content %}

    <div class="column-wrapper">

        <div id="details-column" class="column">

            <h1>
                {{ season.year }} SEASON
            </h1>

            <div class="{{ team.geographic_name|lower }}-text team-header">
                {{ team.geographic_name }} {{ team.nickname }}
            </div>

            <div class="sub-header">
                STANDINGS
            </div>

            <div class="sub-header">
                {{ conference }}
            </div>

            <!-- Show the standings for the team's conference in the chosen season. -->
            {% include 'archive_standings.html' %}

            {% if not team_games %}

                This season's schedule is not yet available.

            {% else %}

                <div class="sub-header">
                    REGULAR SEASON
                </div>

                <table class="stat-table alternating-rows">
                    <tr class="header-row">
                        <th class="stat-intro">Date</th>
                        <th class="stat-intro">Opponent</th>
                        <th class="stat-column">Res</th>
                        <th class="stat-column-wide">Sc.</th>
                    </tr>

                    <!-- Show the result of each game. -->
                    {% for game in team_games %}

                        <tr>
                            <td class="stat-header">
                                {{ game.game_date|date:"d/m/y" }}
                            </td>
                            <td class="stat-header">
                                {% if game.team == game.home_team %}
                                    v
                                {% elif game.team == game.away_team %}
                                    @
                                {% endif %}
                                <a class="table-link" href=
                                        "{% url 'season_team' season.year game.opponent.geographic_name|lower %}">
                                    {{ game.opponent.geographic_name }}</a>
                            </td>
                            {% if game.team_runs > game.opponent_runs %}
                                <td class="stat-win">
                                    W
                                </td>
                            {% else %}
                                <td class="stat-loss">
                                    L
                                </td>
                            {% endif %}
                            <td class="stat-detail">
                                {{ game.team_runs }}-{{ game.opponent_runs }}
                            </td>

                        </tr>

                    {% endfor %}

                </table>

            {% endif %}

            {% if championship_series %}

                <div class="sub-header">
                    CHAMPIONSHIP SERIES
                </div>

                {% for result in championship_series %}

                    {% include 'result_table.html' %}

                {% endfor %}

                <!-- Show the result of the series. -->
                <div class="sub-header">
                    {{ season.champion.geographic_name }} win series, {{ season.series_score }}.
                </div>

            {% endif %}

            <!-- Show the navigation box for the current season. -->
            <nav id="teams" class="navigation">

                <div class="nav-head">
                    {{ season.year }} SEASON
                </div>

                <div class="nav-box">
                    <a class="standard-link" href="{% url 'season_overview' season.year %}">
                        LEAGUE
                    </a><br />
                    {% for club in teams %}
                        {% if club == team %}
                            <strong>{{ club.abbreviation }}</strong>
                        {% else %}
                            <a class="standard-link" href=
                                    "{% url 'season_team' season.year club.geographic_name|lower %}">
                                {{ club.abbreviation }}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>

            </nav>

            <!-- Show the navigation box for the current team. -->
            <nav id="seasons" class="navigation">

                <div class="nav-head">
                    {{ team.geographic_name|upper }} {{ team.nickname|upper }}
                </div>

                <div class="nav-box">
                    {% for year in seasons %}
                        {% if year == season %}
                            <strong>{{ year.year }}</strong>
                        {% else %}
                            <a class="standard-link" href=
                                    "{% url 'season_team' year.year team.geographic_name|lower %}">
                                {{ year.year }}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>

            </nav>

            <div class="full-details">
                <a class="standard-link" href="{% url 'archive' %}">[Archive Index]</a>
            </div>

        </div>

        <div id="stats-column" class="column for-desktop">

            <!-- Show the current season in the sidebar. -->
            <div class="sub-header">
                CURRENT SEASON
            </div>

            {% include 'statistics_bar.html' %}

        </div>

    </div>

{% endblock %}