{% extends "base.html" %}

{% block content %}

    <div class="column-wrapper">

        <div id="details-column" class="column">

            <h1>
                {{ season.year }} SEASON
            </h1>

            <div class="sub-header">
                STANDINGS
            </div>

            <!-- Show the standings for each conference in the chosen season. -->
            {% for conference in conferences %}

                <div class="sub-header">
                    {{ conference.name }}
                </div>

                {% include 'archive_standings.html' %}

            {% endfor %}

            <!-- If the Championship Series has been played, show the result of each game. -->
            {% if championship_series %}

            <a name="championship"></a>

                <div class="sub-header">
                    CHAMPIONSHIP SERIES
                </div>

                {% for result in championship_series %}

                    {% include 'result_table.html' %}

                {% endfor %}

                <!-- Show the result of the series. -->
                <div class="sub-header">
                    {{ season.champion.geographic_name }} win series, {{ season.series_score }}.
                </div>

            {% endif %}

            <!-- Show the navigation box for the current season. -->
            <nav id="teams" class="navigation">

                <div class="nav-head">
                    {{ season.year }} SEASON
                </div>

                <div class="nav-box">
                    {% for team in teams %}
                            <a class="standard-link" href="{% url 'season_team' season team.geographic_name|lower %}">
                                {{ team.abbreviation }}
                            </a>
                    {% endfor %}
                </div>

            </nav>

            <!-- Show the navigation box for all seasons. -->
            <nav id="seasons" class="navigation">

                <div class="nav-head">
                    SEASON INDEX
                </div>

                <div class="nav-box">
                    {% for option in seasons %}
                        {% if option == season %}
                            <strong>{{ option.year }}</strong>
                        {% else %}
                            <a class="standard-link" href="{% url 'season_overview' option.year %}">
                                {{ option.year }}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>

            </nav>

            <div class="full-details">
                <a class="standard-link" href="{% url 'archive' %}">[Archive Index]</a>
            </div>

        </div>

        <div id="stats-column" class="column for-desktop">

            <!-- Show the current season in the sidebar. -->
            <div class="sub-header">
                CURRENT SEASON
            </div>

            {% include 'statistics_bar.html' %}

        </div>

    </div>

{% endblock %}