{% extends "base.html" %}

{% block content %}

    <div id="page-header">
        LEAGUE STANDINGS
    </div>

    {% for conference in conferences %}

        <div class="sub-header">
            {{ conference.name }}
        </div>

        <table class="stat-table standings-table">
            <tr class="header-row">
                <th class="stat-intro">Team</th>
                <th class="stat-column">W</th>
                <th class="stat-column">L</th>
                <th class="stat-column">Pct</th>
            </tr>

            {% for team in standings|dictsort:"name"|dictsortreversed:"pct" %}

                {% if team.conference == conference %}

                    <tr>
                        <td class="stat-team"><img class="small-logo" src="/media/{{ team.small_logo }}" />
                            <a class="table-link" href="/teams/{{ team.name|lower }}">{{ team.name }}</a></td>
                        <td class="stat-detail">{{ team.won|floatformat:0 }}</td>
                        <td class="stat-detail">{{ team.lost|floatformat:0 }}</td>
                        <td class="stat-detail-faint">{{ team.pct|floatformat:3 }}</td>
                    </tr>

                {% endif %}

            {% endfor %}

        </table>

    {% endfor %}

{% endblock %}