
        <table class="stat-table alternating-rows">
            <tr class="header-row">
                <th class="stat-intro">Team</th>
                <th class="standings-column">W</th>
                <th class="standings-column">L</th>
                <th class="standings-column">Pct</th>
            </tr>

            {% for club in standings|dictsort:"name"|dictsortreversed:"pct" %}

                {% if club.conference == conference %}

                    <tr>
                        {% if club.name == team.geographic_name %}
                            <td class="stat-header {{ team.geographic_name|lower }}-tag">
                                <img class="small-logo" src="/media/{{ club.small_logo }}" />
                                <a class="{{ team.geographic_name|lower }}-link plain-link" href=
                                        "{% url 'team_page' club.name|lower %}">
                                    {{ club.name }}
                                </a>
                            </td>
                        {% elif not team and club.name == user.favourite_team.geographic_name %}
                            <td class="stat-header {{ user.favourite_team.geographic_name|lower }}-tag">
                                <img class="small-logo" src="/media/{{ club.small_logo }}" />
                                <a class="{{ user.favourite_team.geographic_name|lower }}-link plain-link" href=
                                        "{% url 'team_page' club.name|lower %}">
                                    {{ club.name }}
                                </a>
                            </td>
                        {% else %}

                            <td class="stat-header">
                                <img class="small-logo" src="/media/{{ club.small_logo }}" />
                                    {% if archive %}
                                        <a class="table-link" href="{% url 'season_team' season club.name|lower %}">
                                    {% else %}
                                        <a class="table-link" href="{% url 'team_page' club.name|lower %}">
                                    {% endif %}
                                    {{ club.name }}
                                </a>
                            </td>
                        {% endif %}

                        <td class="stat-detail">
                            {{ club.won|floatformat:0 }}
                        </td>
                        <td class="stat-detail">
                            {{ club.lost|floatformat:0 }}
                        </td>
                        <td class="stat-detail-faint">
                            {% if club.pct < 1 %}
                                {{ club.pct|floatformat:3|slice:"1:" }}
                            {% else %}
                                {{ club.pct|floatformat:3 }}
                            {% endif %}
                        </td>
                    </tr>

                {% endif %}

            {% endfor %}

        </table>
