<!-- Show the standings for the current season. These are the basic standings for the statistics sidebar, which
should never show the additional data used in other templates. Only a single conference is shown, this is because
some views require just the conference in which a particular team plays, while others require both conferences. This
is determined in the main templates for each view. -->

        <table class="stat-table alternating-rows">
            <tr class="header-row">
                <th class="stat-intro">Team</th>
                <th class="standings-column">W</th>
                <th class="standings-column">L</th>
                <th class="standings-column">Pct</th>
            </tr>

            {% for club in standings|dictsort:"name"|dictsortreversed:"pct" %}

                {% if club.conference == conference.id %}

                    <tr>
                        <!-- If this team's season is being viewed, highlight their name. -->
                        {% if club.name == team.geographic_name %}
                            <td class="stat-header {{ team.geographic_name|lower }}-tag">
                                <img class="small-logo" src="{{ MEDIA_URL }}{{ club.small_logo }}" />
                                <a class="{{ team.geographic_name|lower }}-link plain-link" href=
                                        "{% url 'team_page' club.name|lower %}">
                                    {{ club.name }}
                                </a>
                            </td>
                        <!-- If no specific team is being viewed but this is the user's favourite team, highlight their
                        name. -->
                        {% elif not team and club.name == user.favourite_team.geographic_name %}
                            <td class="stat-header {{ user.favourite_team.geographic_name|lower }}-tag">
                                <img class="small-logo" src="{{ MEDIA_URL }}{{ club.small_logo }}" />
                                <a class="{{ user.favourite_team.geographic_name|lower }}-link plain-link" href=
                                        "{% url 'team_page' club.name|lower %}">
                                    {{ club.name }}
                                </a>
                            </td>
                        {% else %}

                            <!-- Otherwise, list all the teams with no highlighting. -->
                            <td class="stat-header">
                                <img class="small-logo" src="{{ MEDIA_URL }}{{ club.small_logo }}" />
                                    {% if archive %}
                                        <a class="table-link"
                                           href="{% url 'season_team' season club.name|lower %}">
                                    {% else %}
                                        <a class="table-link" href="{% url 'team_page' club.name|lower %}">
                                    {% endif %}
                                    {{ club.name }}
                                </a>
                            </td>
                        {% endif %}

                        <!-- Show the win, loss and percentage statistics. -->
                        <td class="stat-detail">
                            {{ club.won|floatformat:0 }}
                        </td>
                        <td class="stat-detail">
                            {{ club.lost|floatformat:0 }}
                        </td>
                        <td class="stat-detail-faint">
                            {% if club.pct < 1 %}
                                {{ club.pct|floatformat:3|slice:"1:" }}
                            {% else %}
                                {{ club.pct|floatformat:3 }}
                            {% endif %}
                        </td>
                    </tr>

                {% endif %}

            {% endfor %}

        </table>
