/* Limit the width of the main content to 1200 pixels */
main {
    max-width: 1200px;
    padding: 0 10px;
}

/* Show content which was hidden in smaller displays */
.for-desktop {
    display: block;
}

/* Multiple columns view for larger devices */
.column-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    clear: both;
}
#details-column {
    flex: 3;
    margin: 10px;
}
#stats-column {
    flex: 1;
    margin-left: 10px;
    min-width: 260px;
}

/* Can be wider on larger devices */
.stat-table {
    max-width: 600px;
}

/* Logo is larger on larger devices */
.home-logo {
    height: 120px;
    width: 120px;
}

/* Images are larger on larger devices, team profile logos displayed on left not right */
.profile-logo {
    float: left;
    margin-bottom: 20px;
    height: 100px;
    width: 100px;
    margin-right: 20px;
}
.user-profile {
    height: 100px;
    width: 100px;
}

/* Header stylings */
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.normal-header {
    text-align: center;
	box-shadow: none;
    transition: 0.5s;
    font-size: 2.5em;
}
.normal-header img {
    transition: 0.5s;
}
#league-name {
    padding: 5px;
    margin: auto;
}

/* Menu always visible, toggle button not required */
#menu-button {
    display: none;
}
#main-menu {
    display: flex;
	box-shadow: 0 2px 2px 2px #10253f;
	background-color: #4f81bd;
    height: auto;
    text-align: center;
}

/* Menu links display inline on larger devices */
.menu-link {
    flex: 1;
    /*display: inline-block;*/
    border-bottom: none;
    padding: 5px;
    width: fit-content;
}
/* More padding between menu items on largest devices */
@media screen and (min-width: 1201px) {
    .menu-link {
        padding: 5px 10px;
    }
}

/* Not needed without drop-down menu */
.menu-link:last-of-type {
	box-shadow: none;
}

/* Headers and titles larger on larger devices */
.team-title {
    font-size: 2.5em;
    word-spacing: normal;
    padding-top: 20px;
}
.team-header {
    font-size: 2.5em;
}

/* Uniform images are larger on larger devices, but not until the device is more than 1000 pixels wide. */
@media screen and (min-width: 1001px) {
    .uniform img {
        width: 125px;
        height: 125px;
    }
}
.company-logo {
    height: 150px;
    width: 150px;
}
.partner-logos {
    width: 200px;
}
.store-team img {
    width: 100px;
    height: 100px;
}

/* Additional cells only visible on larger devices */
.desktop-cell {
    display: table-cell;
}

/* Image floats to left of text rather than sitting above it */
.news-image {
    float: left;
    margin: 0 20px 20px 0;
}

 /* Recent post activity in forum sidebar */
.recent-activity {
    margin: 10px 0 10px 10px;
    border-left: 5px solid #10253f;
    border-bottom: 1px solid #10253f;
    padding-left: 5px;
}

.fixed-header {
    font-size: 1.6em;
    transition: 0.5s;
}

.fixed-header img {
    height: 50px;
    width: 50px;
    transition: 0.5s;
}