body {
    margin: 0;
    padding: 0;
    font-family: "Merriweather", "Times New Roman", serif;
}

a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

main {
    margin: 20px 10px;
}

#teams-header {
    display: flex;
    padding: 5px;
    background-color: #4f81bd;
}

#league-header {
    display: flex;
    padding: 5px;
    background-color: #10253f;
    color: white;
    font-size: 1.4em;
    height: 100px;
    position: relative;
	box-shadow: 0 2px 2px 2px #4f81bd;
}

.header-logos {
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: center;
    height: 35px;
}

.header-logo {
    height: 35px;
    width: 35px;
}

.home-logo {
    height: 100px;
    width: 100px;
}

#league-name {
    padding: 5px;
    margin: auto;
}

#menu-button {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 1.5em;
    height: auto;
}

.team-title {
    font-size: 2em;
    word-spacing: 9999999px;
}

.profile-logo {
    float: right;
    height: 80px;
    width: 80px;
    z-index: 2;
    margin-top: 5px;
}

.dublin-text {
    color: rgb(0,128,0);
    text-shadow: 1px 1px rgb(243,116,27);
}

.glasgow-text {
    color: rgb(221,208,0);
    text-shadow: 1px 1px rgb(0,0,0);
}

.liverpool-text {
    color: rgb(255,0,0);
    text-shadow: 1px 1px rgb(0,0,157);
}

.manchester-text {
    color: rgb(0,0,0);
    text-shadow: 1px 1px rgb(204,204,204);
}

.birmingham-text {
    color: rgb(150,130,104);
    text-shadow: 1px 1px rgb(86,75,60);
}

.bristol-text {
    color: rgb(123,72,4);
    text-shadow: 1px 1px rgb(255,255,0);
}

.cardiff-text {
    color: rgb(191,0,0);
    text-shadow: 1px 1px rgb(0,127,63);
}

.london-text {
    color: rgb(229,179,2);
    text-shadow: 1px 1px rgb(128,0,128);
}

.toggle {
	display: none;
}
.activate {
	display: block;
}

#main-menu {
    display: none;
    z-index: 2;
    position: relative;
}

.menu-link {
	background-color: #4f81bd;
    border-bottom: 1px solid #10253f;
    color: white;
    width: 100%;
    display: block;
    padding: 5px 5px 5px 10px;
    text-decoration: none;
    box-sizing: border-box;
}

.menu-link:last-of-type {
	box-shadow: 0 2px 2px 2px #10253f;
}

.menu-link:hover {
	background-color: #10253f;
    transition: 0.25s;
}

#page-header {
    font-size: 1.25em;
    text-align: center;
    margin: 10px auto;
    font-weight: bold;
}

.team-name {
    font-size: 1.2em;
    font-weight: bold;
}

.conference-name {
}

.directory-logo {
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

.team-details {
    margin: 10px auto;
}
.team-details ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.profile-links {
    font-size: 0.75em;
}

.profile-link {
    text-decoration: none;
    color: #4f81bd;
}

.profile-link:hover {
    text-decoration: underline;
    color: #10253f;
}

footer {
	box-shadow: 0 -2px 2px 2px #10253f;
}

#footer-content {
    background-color: #10253f;
    padding: 10px;
    color: white;
    font-size: 0.75em;
}

#copyright {
    margin-top: 5px;
}

.footer-link {
    color: white;
    text-decoration: none;
}
.footer-link:hover {
    text-decoration: underline;
}

#social-media {
    padding: 10px;
    background-color: #4f81bd;
    height: 35px;
    text-align: center;
}

.social {
    height: 35px;
    width: 35px;
    display: inline-block;
    margin: auto;
}

.facebook {
    background: url("/media/images/social/grey/facebook.png");
    background-size: contain;
}
.facebook:hover {
    background: url("/media/images/social/colour/facebook.png");
    background-size: contain;
}

.twitter {
    background: url("/media/images/social/grey/twitter.png");
    background-size: contain;
}
.twitter:hover {
    background: url("/media/images/social/colour/twitter.png");
    background-size: contain;
}

.instagram {
    background: url("/media/images/social/grey/instagram.png");
    background-size: contain;
}
.instagram:hover {
    background: url("/media/images/social/colour/instagram.png");
    background-size: contain;
}

.youtube {
    background: url("/media/images/social/grey/youtube.png");
    background-size: contain;
}
.youtube:hover {
    background: url("/media/images/social/colour/youtube.png");
    background-size: contain;
}