body {
    margin: 0;
    padding: 0;
    font-family: "Merriweather", "Times New Roman", serif;
}

a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

main {
    margin: 20px 10px;
}

#teams-header {
    display: flex;
    padding: 5px;
    background-color: #4f81bd;
}

#league-header {
    display: flex;
    padding: 5px;
    background-color: #10253f;
    color: white;
    font-size: 1.4em;
    height: 100px;
    position: relative;
	box-shadow: 0 2px 2px 2px #4f81bd;
}

.header-logos {
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: center;
    height: 35px;
}

.header-logo {
    height: 35px;
    width: 35px;
}

.home-logo {
    height: 100px;
    width: 100px;
}

#league-name {
    padding: 5px;
    margin: auto;
}

#menu-button {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 1.5em;
    height: auto;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.team-title {
    font-size: 2em;
    word-spacing: 9999999px;
}

#team-header {
    padding-bottom: 10px;
}

.profile-logo {
    float: right;
    height: 80px;
    width: 80px;
    z-index: 2;
    margin-top: 5px;
    border-radius: 50%;
}

.dublin-text {
    color: rgb(0,128,0);
    text-shadow: 1px 1px rgb(243,116,27);
}

.glasgow-text {
    color: rgb(221,208,0);
    text-shadow: 1px 1px rgb(0,0,0);
}

.liverpool-text {
    color: rgb(255,0,0);
    text-shadow: 1px 1px rgb(0,0,157);
}

.manchester-text {
    color: rgb(0,0,0);
    text-shadow: 1px 1px rgb(204,204,204);
}

.birmingham-text {
    color: rgb(150,130,104);
    text-shadow: 1px 1px rgb(191,191,191);
}

.bristol-text {
    color: rgb(123,72,4);
    text-shadow: 1px 1px rgb(255,255,0);
}

.cardiff-text {
    color: rgb(191,0,0);
    text-shadow: 1px 1px rgb(0,127,63);
}

.london-text {
    color: rgb(229,179,2);
    text-shadow: 1px 1px rgb(128,0,128);
}

.toggle {
	display: none;
}
.activate {
	display: block;
}

#main-menu {
    display: none;
    z-index: 2;
    position: relative;
}

.menu-link {
	background-color: #4f81bd;
    border-bottom: 1px solid #10253f;
    color: white;
    width: 100%;
    display: block;
    padding: 5px 5px 5px 10px;
    text-decoration: none;
    box-sizing: border-box;
}

.menu-link:last-of-type {
	box-shadow: 0 2px 2px 2px #10253f;
}

.menu-link:hover {
	background-color: #10253f;
    transition: 0.25s;
}

#page-header {
    font-size: 1.25em;
    text-align: center;
    margin: 10px auto;
    font-weight: bold;
}

.team-name {
    font-size: 1.2em;
    font-weight: bold;
}

.left-header {
    margin: 10px auto;
}

.small-logo {
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

.team-details {
    margin: 10px auto;
}
.team-details ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.profile-links {
    font-size: 0.75em;
}

.standard-link {
    text-decoration: none;
    color: #4f81bd;
}

.standard-link:hover {
    text-decoration: underline;
    color: #10253f;
}

footer {
	box-shadow: 0 -2px 2px 2px #10253f;
}

#footer-content {
    background-color: #10253f;
    padding: 10px;
    color: white;
    font-size: 0.75em;
}

#copyright {
    margin-top: 5px;
}

.footer-link {
    color: white;
    text-decoration: none;
}
.footer-link:hover {
    text-decoration: underline;
}

#social-media {
    padding: 10px;
    background-color: #4f81bd;
    height: 35px;
    text-align: center;
}

.social {
    height: 35px;
    width: 35px;
    display: inline-block;
    margin: auto;
}

.facebook {
    background: url("/media/images/social/grey/facebook.png");
    background-size: contain;
}
.facebook:hover {
    background: url("/media/images/social/colour/facebook.png");
    background-size: contain;
}

.twitter {
    background: url("/media/images/social/grey/twitter.png");
    background-size: contain;
}
.twitter:hover {
    background: url("/media/images/social/colour/twitter.png");
    background-size: contain;
}

.instagram {
    background: url("/media/images/social/grey/instagram.png");
    background-size: contain;
}
.instagram:hover {
    background: url("/media/images/social/colour/instagram.png");
    background-size: contain;
}

.youtube {
    background: url("/media/images/social/grey/youtube.png");
    background-size: contain;
}
.youtube:hover {
    background: url("/media/images/social/colour/youtube.png");
    background-size: contain;
}

.team-tag {
    border-radius: 10px;
    padding: 1px 10px;
    text-decoration: none;
    display: inline-block;
}
.team-tag:hover {
    text-decoration: underline;
}

.dublin-tag {
    background-color: rgb(0,128,0);
    color: rgb(255,128,39);
}

.glasgow-tag {
    background-color: rgb(221,208,0);
    color: rgb(0,0,0);
}

.liverpool-tag {
    background-color: rgb(255,0,0);
    color: rgb(0,0,157);
}

.manchester-tag {
    background-color: rgb(0,0,0);
    color: rgb(204,204,204);
}

.birmingham-tag {
    background-color: rgb(150,130,104);
    color: rgb(255,255,255);
}

.bristol-tag {
    background-color: rgb(123,72,4);
    color: rgb(255,255,0);
}

.cardiff-tag {
    background-color: rgb(191,0,0);
    color: rgb(255,255,255);
}

.london-tag {
    background-color: rgb(229,179,2);
    color: rgb(128,0,128);
}

#news-headline {
    font-size: 1.25em;
    margin: 10px auto;
    font-weight: bold;
}
.item-details {
    font-size: 0.75em;
    font-weight: normal;
}

#item-content {
    margin: 10px auto;
}

.arrow {
    color: #10253f;
}

.team-box {
    border-radius: 10px;
    padding: 2px;
    clear: both;
    margin: 10px;
    text-align: center;
}

.dublin-box {
    background-color: rgb(0,128,0);
    color: rgb(255,128,39);
    border: 2px solid rgb(0,128,0);
    box-shadow: 0 0 2px 2px rgb(243,116,27);
}

.glasgow-box {
    background-color: rgb(221,208,0);
    color: rgb(0,0,0);
    border: 2px solid rgb(221,208,0);
    box-shadow: 0 0 2px 2px rgb(0,0,0);
}

.liverpool-box {
    background-color: rgb(255,0,0);
    color: rgb(0,0,157);
    border: 2px solid rgb(255,0,0);
    box-shadow: 0 0 2px 2px rgb(0,0,157);
}

.manchester-box {
    background-color: rgb(0,0,0);
    color: rgb(204,204,204);
    border: 2px solid rgb(0,0,0);
    box-shadow: 0 0 2px 2px rgb(204,204,204);
}

.birmingham-box {
    background-color: rgb(150,130,104);
    color: rgb(255,255,255);
    border: 2px solid rgb(150,130,104);
    box-shadow: 0 0 2px 2px rgb(191,191,191);
}

.bristol-box {
    background-color: rgb(123,72,4);
    color: rgb(255,255,0);
    border: 2px solid rgb(123,72,4);
    box-shadow: 0 0 2px 2px rgb(255,255,0);
}

.cardiff-box {
    background-color: rgb(191,0,0);
    color: rgb(255,255,255);
    border: 2px solid rgb(191,0,0);
    box-shadow: 0 0 2px 2px rgb(0,127,63);
}

.london-box {
    background-color: rgb(229,179,2);
    color: rgb(128,0,128);
    border: 2px solid rgb(229,179,2);
    box-shadow: 0 0 2px 2px rgb(128,0,128);
}

.team-header {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 10px;
}

#full-details {
    font-size: 0.75em;
    display: block;
    text-align: center;
}

.sub-header {
    margin: 10px auto;
    text-align: center;
}

.stat-intro {
    text-align: left;
    padding-left: 5px;
}

.header-row {
    background-color: #10253f;
    color: white;
}

.stat-table {
    border-collapse: collapse;
    width: 100%;
    margin: 5px auto;
    text-align: center;
}

.stat-table td {
    margin: 0 5px;
}

.stat-column {
    width: 25px;
}

.stat-header {
    text-align: left;
    padding-left: 2px;
}

.stat-team {
    text-align: center;
    width: 40%;
}

.stat-detail {
    background-color: #4f81bd;
}

.stat-win {
    background-color: #00cc00;
    color: white;
}

.stat-loss {
    background-color: #cc0000;
    color: white;
    padding: 0 5px;
}

.stat-detail-faint {
    background-color: #6fa1dd;
}

.stat-detail-highlight {
    background-color: #ffcc00;
}

.stat-detail-highfaint {
    background-color: #ffdd99;
}

.last-next, .pagination-links {
    display: flex;
}

.double-box, .pagination-section {
    flex: 1;
}

.game-box {
    text-align: center;
}

.alternating-rows tr:nth-child(2n+2) {
    background-color: #ccddee;
}

.table-link {
    text-decoration: none;
    color: black;
}

.table-link:hover {
    text-decoration: underline;
}

.plain-link {
    text-decoration: none;
}

.plain-link:hover {
    text-decoration: underline;
}

.link-list {
    margin: 5px auto;
}

.previous-page {
    text-align: left;
}

.page-detail {
    text-align: center;
}

.next-page {
    text-align: right;
}

.default-button {
    display: block;
    margin: 10px auto;
}

#default-form {
    margin: auto;
}

#default-form p {
    text-align: center;
}

#default-form input {
    width: 75%;
}

#default-form input[type=checkbox] {
    width: auto;
}

#default-form label {
    display: block;
}

#default-form a {
    display: block;
}

#default-form label[for=profile_picture-clear_id] {
    display: inline;
}

#id_profile_picture {
    display: block;
    margin: auto;
}

#default-form select {
    width: 75%;
}

ul.errorlist{
    list-style-type: none;
    padding: 5px;
    background-color: #ffcccc;
    border: 1px solid #993333;
    color: #993333;
    border-radius: 10px;
}

.helptext {
    font-size: 0.75em;
    display: block;
    margin: 5px;
    text-align: left;
}

#content-link {
    margin: 10px auto 10px 0;
    color: white;
    background-color: #4f81bd;
    border: 1px solid #10253f;
    border-radius: 10px;
    padding: 5px;
    width: fit-content;
}

#content-link a {
    color: white;
    text-decoration: none;
}

#content-link a:hover {
    text-decoration: underline;
}

.comment-logo {
    float: left;
    height: 30px;
    width: 30px;
    z-index: 2;
    margin-right: 5px;
    border-radius: 50%;
}

.comment-body {
    border-bottom: 1px solid #10253f;
    padding: 5px;
}

.comment-body:first-of-type {
    border-top: 1px solid #10253f;
}

.comment-body:nth-of-type(odd) {
    background-color: #ddddff;
}

.comment-user {
    font-size: 1.25em;
}

.comment-text p {
    margin: 5px 0 0 0;
}

.comment-detail {
    font-size: 0.75em;
}

.comment-controls {
    text-align: right;
    margin-top: 5px;
}

#show-hide {
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 0.75em;
}

#not-logged-in {
    margin: 10px 0 0 0;
    font-size: 0.75em;
}

.forum-header {
    background-color: #10253f;
    color: white;
    padding: 5px;
}

.forum-section {
    margin: 10px auto;
}

.board-header {
    background-color: #4f81bd;
    padding: 5px;
    font-weight: bold;
}

.board-description {
    padding: 10px;
}

.board-description p {
    margin: 0;
}

.board-counter {
    background-color: #ddddff;
    width: 100%;
    padding: 0 5px;border-bottom: 1px solid #10253f;
}

.counter-amount {
    padding: 0 0 0 10px;
}

.forum-sub-header {
    font-size: 1.5em;
    text-align: center;
}

.forum-table {
    border-collapse: collapse;
    width: 100%;
    margin: 5px auto;
}

.forum-table td {
    padding: 2px 5px;
}

.forum-count {
    text-align: center;
}

#posts {
    margin: 10px auto;
}
