{% extends "base.html" %}
{% load forum_tags %}
{% load tz %}

{% block content %}

    <div class="column-wrapper">

        <div id="details-column" class="column">

            <div id="page-header">
                BIBL DISCUSSION FORUM
            </div>

            <!-- If the board is team specific, it should have the team name specially styled as its heading. -->
            {% if team %}
                <div class="{{ team.geographic_name|lower }}-text team-header">
                    {{ team.geographic_name }} {{ team.nickname }}
                </div>
            {% else %}
                <div class="forum-sub-header">
                    {{ board.title }}
                </div>
            {% endif %}

            <!-- If the user is logged in, they can create a new thread. If they are not logged, they will be
            prompted to do so. -->
            {% if user.is_authenticated %}
                <div class="content-link">
                    <a href="{% url 'new_thread' board.id %}">New Thread</a>
                </div>
            {% else %}
                <div id="not-logged-in">
                    {% if team %}
                        You must be <a class="standard-link"
                                       href="{% url 'login' %}?next={% url 'forum_team' team.geographic_name|lower %}">
                        logged in</a> to post.
                    {% else %}
                        You must be <a class="standard-link"
                                       href="{% url 'login' %}?next={% url 'forum_league' board_id %}">
                        logged in</a> to post.
                    {% endif %}
                </div>
            {% endif %}

            <!-- Message to indicate an empty board. -->
            {% if board.threads.count == 0 %}
                No threads in this forum yet.
            {% endif %}

            <!-- Show the threads in a table, indicating who started the thread and when the last post was. Also show
             the number of posts and the number of times the thread has been viewed. -->
            <table class="forum-table alternating-rows">
                <tr class="header-row">
                    <td>Thread</td>
                    <td class="forum-count">Posts</td>
                    <td class="forum-count">Views</td>
                </tr>
                {% for thread in threads %}
                    <tr>
                        <td>
                            <a class="table-link" href="{% url 'view_thread' thread.id %}">{{ thread.title }}</a><br />
                            <div class="table-details">
                                Started By:
                                <a class="table-link" href="{% url 'other_profile' thread.user_id %}">
                                    {{ thread.user }}
                                </a><br />
                                Last Post: {{ thread.last_post|date:'d/m/Y, H:i' }}
                            </div>
                        </td>
                        <td class="forum-count">
                            {{ thread.posts.count }}
                        </td>
                        <td class="forum-count">
                            {{ thread.views }}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <!-- Pagination links. -->
            <div class="full-details">

                <div class="pagination-links">

                    <div class="pagination-section left-align">
                        {% if threads.has_previous %}
                            <a class="standard-link" href="?page={{ threads.previous_page_number }}">
                                &lt;&lt; Previous Page
                            </a>
                        {% endif %}
                    </div>

                    <div class="pagination-section right-align">
                        {% if threads.has_next %}
                            <a class="standard-link" href="?page={{ threads.next_page_number }}">
                                Next Page &gt;&gt;
                            </a>
                        {% endif %}
                    </div>

                </div>

                {% if team %}
                    <a class="standard-link" href="{% url 'team_page' team.geographic_name|lower %}">[Team Home]</a>
                {% endif %}
                <a class="standard-link" href="{% url 'forum' %}">[Forum Home]</a>

            </div>

        </div>

        <div id="stats-column" class="column for-desktop">

            {% include 'forum_sidebar.html' %}

        </div>

    </div>

{% endblock %}