{% extends "base.html" %}

{% block content %}


    <div class="column-wrapper">

        <div id="details-column" class="column">

            <h1>
                BIBL DISCUSSION FORUM
            </h1>

            <!-- A logged in user is shown their username. Otherwise, the user is prompted to log in. -->
            {% if user.is_authenticated %}
                <div class="sub-header">
                    Logged in as: <a class="standard-link" href="{% url 'user_profile' %}">{{ user.username }}</a>
                </div>
            {% else %}
                <div class="sub-header">
                    NB: You must be <a class="standard-link" href="{% url 'login' %}?next={% url 'forum' %}">logged in</a> to post.
                </div>
            {% endif %}

            <div class="column-wrapper">

                <!-- Each section of the forum is shown in turn. -->
                {% for section in sections %}

                    <div class="single-column">

                        <div class="forum-section">

                            <div class="forum-header">
                                {{ section.title }}
                            </div>

                            <!-- Each board in the section is listed, with its thread and post totals. -->
                            {% for board in section.boards.all %}

                                <div class="forum-board">

                                    <div class="board-header">
                                        {% if board.team %}
                                            <a class="table-link" href=
                                                    "{% url 'forum_team' board.team.geographic_name|lower %}">
                                                {{ board.title }}
                                            </a>
                                        {% else %}
                                            <a class="table-link" href="{% url 'forum_league' board.id %}">
                                                {{ board.title }}
                                            </a>
                                        {% endif %}
                                    </div>

                                    <div class="board-description">
                                        {{ board.description|safe }}
                                    </div>

                                    <table class="board-counter">
                                        <tr>
                                            <td class="counter-amount">Threads: {{ board.thread_count }}</td>
                                            <td class="counter-amount">Posts: {{ board.post_count }}</td>
                                        </tr>
                                    </table>

                                </div>

                            {% endfor %}

                        </div>

                    </div>

                {% endfor %}

            </div>

        </div>

        <div id="stats-column" class="column for-desktop">

            {% include 'forum_sidebar.html' %}

        </div>

    </div>

{% endblock %}
