<!-- The sidebar for forum pages shows the ten most recent posts, with the user, thread and date/time. -->

            <div class="sub-header">
                RECENT ACTIVITY
            </div>

            {% for post in recent_posts %}
                <div class="recent-activity">
                    <a class="standard-link" href="{% url 'other_profile' post.user.id %}">{{ post.user }}</a> posted
                    in<br />
                    <a class="standard-link" href="{% url 'view_thread' post.thread.id %}">{{ post.thread }}</a><br />
                    at {{ post.created_date|time:'g:i a' }} on {{ post.created_date|date:'d F Y' }}
                </div>
            {% endfor %}
