{% load forum_tags %}

<div class="comment-body">

    {% if not post.user.profile_picture %}
        {% if not post.user.favourite_team %}
            <img class="comment-logo" src="/media/images/users/default.png" />
        {% else %}
            <img class="comment-logo" src="/media/{{ post.user.favourite_team.large_logo }}" />
        {% endif %}
    {% else %}
        <img class="comment-logo" src="/media/{{ post.user.profile_picture }}" />
    {% endif %}

    <div class="comment-user">
        {% if user.is_authenticated %}
            {% if user == post.user %}
                <a class="table-link" href="/profile/">
            {% else %}
                <a class="table-link" href="/profile/{{ post.user_id }}">
            {% endif %}
                {{ post.user }}
            </a>
        {% else %}
            {{ post.user }}
        {% endif %}
    </div>

    <div class="comment-detail">
        {{ post.created_date|date:'d F Y, H:i' }}
    </div>

    <div class="comment-text">
        {{ post.content|safe }}
    </div>

    <div class="comment-detail comment-controls">
        Post {{ forloop.counter|add:previous }} of {{ thread.posts.count }}

        {% if user == post.user or user.is_staff %}
            <a class="table-link" href="{% url 'edit_post' thread.id post.id %}">[Edit]</a>
            <span class="alert-link" onclick="confirmationAlert({{ post.id }})">[Delete]</span>
        {% endif %}
    </div>

    <div id="wrapper-{{ post.id }}" class="popup-wrapper hidden">
        <div id="alert-{{ post.id }}" class="alert-message hidden">
            <p>Confirmation:</p>
            <p>Are you sure you want to delete?</p>
            <div class="content-link-light">
                <a href="{% url 'delete_post' thread.id post.id %}">OK</a>
            </div>
            <div class="content-link-light alert-link" onclick="confirmationAlert({{ post.id }})">
                Cancel
            </div>
        </div>
    </div>

</div>