{% extends "base.html" %}
{% load staticfiles %}

{% block head_js %}
    <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
    <script type="text/javascript">
        tinyMCE.init({mode: "textareas", theme: "modern", plugins: "paste"});
    </script>
{% endblock %}

{% block content %}

    <div class="column-wrapper">

        <div id="details-column" class="column">

            <!-- If no post exists, a new one can be created. -->
            {% if not post_exists %}

                <h1>
                    ADD NEW POST
                </h1>

                <div class="sub-header">
                    Post in: {{ thread.title }}
                </div>

                <form id="default-form" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="default-button" type="submit">{{ button_text }}</button>
                </form>

            <!-- If a post exists, only the author of the post or the superuser can view the form.
               This is to prevent a user being able to edit someone else's post. -->
            {% elif user == post.user or user.is_superuser %}

                <h1>
                    EDIT POST
                </h1>

                <div class="sub-header">
                    Post in: {{ thread.title }}
                </div>

                <form id="default-form" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="default-button" type="submit">{{ button_text }}</button>
                </form>

            <!-- Any other user will see an error message. -->
            {% else %}

                <h1>
                    ERROR
                </h1>

                <p>
                    Sorry, you are not authorised to view this page.
                </p>

            {% endif %}

        </div>

        <div id="stats-column" class="column for-desktop">

            {% include 'forum_sidebar.html' %}

        </div>

    </div>

{% endblock %}