{% extends "base.html" %}

{% block content %}

    <div class="column-wrapper">

        <div id="details-column" class="column">

            <h1>
                BIBL DISCUSSION FORUM
            </h1>

            <div id="left-header">

            <!-- Indicate at the top of the thread which board it belongs to. -->
            {% if board.team_id %}
                <a class="table-link" href="{% url 'forum_team' board.team.geographic_name|lower %}">
                    {{ board.title }}
                </a>
            {% else %}
                <a class="table-link" href="{% url 'forum_league' board.id %}">
                    {{ board.title }}
                </a>
            {% endif %}

                &gt; {{ thread.title }}

            </div>

            <section id="posts">

                <!-- List all the posts in turn. -->
                {% for post in posts %}

                    {% include 'post.html' %}

                {% endfor %}

            </section>

            <!-- Show a logged in user the button to add a new post, otherwise prompt the user to log in. -->
            {% if user.is_authenticated %}
                <div class="content-link">
                    <a href="{% url 'new_post' thread.id %}?next={% url 'view_thread' thread.id %}?page={{ pages }}">
                        New Post</a>
                </div>
            {% else %}
                <div id="not-logged-in">
                    You must be <a class="standard-link"
                                   href="{% url 'login' %}?next={% url 'view_thread' thread.id %}?page={{ pages }}">
                    logged in</a> to post.
                </div>
            {% endif %}

            <!-- Pagination links. -->
            <div class="full-details">

                <div class="pagination-links">

                    <div class="pagination-section left-align">
                        {% if posts.has_previous %}
                            <a class="standard-link" href="?page={{ posts.previous_page_number }}">
                                &lt;&lt; Previous Page
                            </a>
                        {% endif %}
                    </div>

                    <div class="pagination-section right-align">
                        {% if posts.has_next %}
                            <a class="standard-link" href="?page={{ posts.next_page_number }}">
                                Next Page &gt;&gt;
                            </a>
                        {% endif %}
                    </div>

                </div>

                {% if board.team_id %}
                    <a class="standard-link" href="{% url 'forum_team' board.team.geographic_name|lower %}">
                        [Thread List]
                    </a>
                {% else %}
                    <a class="standard-link" href="{% url 'forum_league' board.id %}">
                        [Thread List]
                    </a>
                {% endif %}
                <a class="standard-link" href="{% url 'forum' %}">[Forum Home]</a>
            </div>

        </div>

        <div id="stats-column" class="column for-desktop">

            {% include 'forum_sidebar.html' %}

        </div>

    </div>

{% endblock %}