{% extends "base.html" %}

{% block content %}

    <div id="team-header">

        <div class="{{ team.geographic_name|lower }}-text team-title">
            <img class="profile-logo" src="/media/{{ team.small_logo }}" />
            {{ team.geographic_name }} {{ team.nickname }}
        </div>

    </div>

    <div class="{{ team.geographic_name|lower }}-news team-news">
        TEAM NEWS
    </div>

    {% for item in items %}

        {% if team in item.teams.all %}
            <span class="arrow">&#9658;</span> <a class="standard-link" href="/news/{{ item.id }}/">{{ item.title }}</a>
        {% endif %}

    {%  endfor %}

{% endblock %}