{% extends "base.html" %}

{% block content %}

    <div id="team-header">

        <div class="{{ team.geographic_name|lower }}-text team-title">
            <img class="profile-logo" src="/media/{{ team.small_logo }}" />
            {{ team.geographic_name }} {{ team.nickname }}
        </div>

        <div id="team-details">

            <ul>
                <li>
                    <strong>{{ team.conference }}</strong>
                </li>
                <li>
                    <strong>Home Stadium:</strong> {{ team.ballpark }}
                </li>
            </ul>

        </div>

    </div>

{% endblock %}