{% extends "base.html" %}

{% block content %}

    <div id="team-header">

        <div class="{{ team.geographic_name|lower }}-text team-title">
            <img class="profile-logo" src="/media/{{ team.large_logo }}" />
            {{ team.geographic_name }} {{ team.nickname }}
        </div>

    </div>

    <div class="last-next">

        <div class="game-box double-box">
            <div class="{{ team.geographic_name|lower }}-box team-box">
                LAST GAME
            </div>

            {{ last_game.game_date|date:"d/m/Y" }}<br />

            {% if team == last_game.home_team %}
                v <img class="small-logo" src="/media/{{ last_game.away_team.small_logo }}" />
                <a class="standard-link" href="/teams/{{ last_game.away_team.geographic_name|lower }}">
                    {{ last_game.away_team.abbreviation }}</a><br />
                {% if last_game.home_team_runs > last_game.away_team_runs %}
                    W
                {% else %}
                    L
                {% endif %}
                {{ last_game.home_team_runs }}-{{ last_game.away_team_runs }}
            {% else %}
                @ <img class="small-logo" src="/media/{{ last_game.home_team.small_logo }}" />
                <a class="standard-link" href="/teams/{{ last_game.home_team.geographic_name|lower }}">
                    {{ last_game.home_team.abbreviation }}</a><br />
                {% if last_game.away_team_runs > last_game.home_team_runs %}
                    W
                {% else %}
                    L
                {% endif %}
                {{ last_game.away_team_runs }}-{{ last_game.home_team_runs }}
            {% endif %}

        </div>

        <div class="game-box double-box">
            <div class="{{ team.geographic_name|lower }}-box team-box">
                NEXT GAME
            </div>

            {{ next_game.game_date|date:"d/m/Y" }}<br />

            {% if team == next_game.home_team %}
                v <img class="small-logo" src="/media/{{ last_game.away_team.small_logo }}" />
                <a class="standard-link" href="/teams/{{ last_game.away_team.geographic_name|lower }}">
                    {{ last_game.away_team.abbreviation }}</a>
            {% else %}
                @ <img class="small-logo" src="/media/{{ last_game.home_team.small_logo }}" />
                <a class="standard-link" href="/teams/{{ last_game.home_team.geographic_name|lower }}">
                    {{ last_game.home_team.abbreviation }}</a>
            {% endif %}<br />

            {{ next_game.game_time }}
        </div>

    </div>

    <span id="full-details"><a class="standard-link" href="/scores/{{ team.geographic_name|lower }}">[Full Schedule]</a></span>

    <div class="{{ team.geographic_name|lower }}-box team-box">
        STANDINGS
    </div>

    <div class="sub-header">
        {{ team.conference }}
    </div>


    <table class="stat-table alternating-rows">
        <tr class="header-row">
            <th class="stat-intro">Team</th>
            <th class="stat-column">W</th>
            <th class="stat-column">L</th>
            <th class="stat-column">Pct</th>
        </tr>

        {% for club in standings|dictsort:"name"|dictsortreversed:"pct" %}
            {% if club.conference == team.conference %}

                <tr>
                    {% if club.name == team.geographic_name %}
                        <td class="stat-header {{ team.geographic_name|lower }}-tag">
                            <img class="small-logo" src="/media/{{ club.small_logo }}" />
                            <a class="plain-link {{ team.geographic_name|lower }}-tag" href="/teams/{{ club.name|lower }}">{{ club.name }}</a>
                        </td>
                    {% else %}
                        <td class="stat-header">
                            <img class="small-logo" src="/media/{{ club.small_logo }}" />
                            <a class="table-link" href="/teams/{{ club.name|lower }}">{{ club.name }}</a>
                        </td>
                    {% endif %}
                    <td class="stat-detail">
                        {{ club.won|floatformat:0 }}
                    </td>
                    <td class="stat-detail">
                        {{ club.lost|floatformat:0 }}
                    </td>
                    <td class="stat-detail-faint">
                        {% if club.pct < 1 %}
                            {{ club.pct|floatformat:3|slice:"1:" }}
                        {% else %}
                            {{ club.pct|floatformat:3 }}
                        {% endif %}
                    </td>
                </tr>

            {% endif %}
        {% endfor %}

    </table>

    <span id="full-details"><a class="standard-link" href="/standings/">[Full Standings]</a></span>

    <div class="{{ team.geographic_name|lower }}-box team-box">
        TEAM NEWS
    </div>

    {% for item in items %}

        {% if team in item.teams.all %}
            <span class="arrow">&#9658;</span> <a class="standard-link" href="/news/{{ item.id }}/">{{ item.title }}</a>
        {% endif %}

    {%  endfor %}

    <span id="full-details"><a class="standard-link" href="/news/{{ team.geographic_name|lower }}">[All Articles]</a></span>

{% endblock %}