{% extends "base.html" %}

{% block content %}

    <div id="page-header">
        TEAM DIRECTORY
    </div>

    {% for conference in conferences %}

        <div class="left-header">
            {{ conference.name|upper }}
        </div>

        {% for team in conference.teams.all %}

            <div class="team-details">
                <div class="team-name">
                    <img class="small-logo" src="/media/{{ team.small_logo }}" /> {{ team.geographic_name }} {{ team.nickname }}
                </div>
                <ul>
                    <li>
                        <strong>Home Stadium:</strong> {{ team.ballpark }}
                    </li>
                    <li>
                        <strong>Championships:</strong> {{ team.champion.count }}
                            {% if team.champion.count > 0 %}
                                 - {% for season in team.champion.all %}
                                    {{ season }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            {% endif %}
                    </li>
                </ul>
                <div class="profile-links">
                    <a class="standard-link" href="/teams/{{ team.geographic_name|lower }}">Home</a> |
                    <a class="standard-link" href="/news/{{ team.geographic_name|lower }}">News</a> |
                    <a class="standard-link" href="/scores/{{ team.geographic_name|lower }}">Schedule</a> |
                    <a class="standard-link" href="/archive/{{ team.geographic_name|lower }}">History</a> |
                    <a class="standard-link" href="/forum/{{ team.geographic_name|lower }}">Forum</a> |
                    <a class="standard-link" href="/store/{{ team.geographic_name|lower }}">Store</a>
                </div>
            </div>

        {% endfor %}

    {%  endfor %}

{% endblock %}