{% extends "base.html" %}

{% block content %}

    <div id="team-header">

        <div class="{{ team.geographic_name|lower }}-text team-title">
            <img class="profile-logo" src="/media/{{ team.large_logo }}" />
            {{ team.geographic_name }} {{ team.nickname }}
        </div>

    </div>

    <div class="last-next">

        <div class="game-box double-box">
            <div class="{{ team.geographic_name|lower }}-box colour-box">
                LAST GAME
            </div>

            {% if last_game %}

                {{ last_game.game_date|date:"d/m/Y" }}<br />

                {% if team == last_game.home_team %}
                    v <img class="small-logo" src="/media/{{ last_game.away_team.small_logo }}" />
                    <a class="standard-link" href="/teams/{{ last_game.away_team.geographic_name|lower }}">
                        {{ last_game.away_team.abbreviation }}</a><br />
                    {% if last_game.home_team_runs > last_game.away_team_runs %}
                        W
                    {% else %}
                        L
                    {% endif %}
                    {{ last_game.home_team_runs }}-{{ last_game.away_team_runs }}
                {% else %}
                    @ <img class="small-logo" src="/media/{{ last_game.home_team.small_logo }}" />
                    <a class="standard-link" href="/teams/{{ last_game.home_team.geographic_name|lower }}">
                        {{ last_game.home_team.abbreviation }}</a><br />
                    {% if last_game.away_team_runs > last_game.home_team_runs %}
                        W
                    {% else %}
                        L
                    {% endif %}
                    {{ last_game.away_team_runs }}-{{ last_game.home_team_runs }}
                {% endif %}

            {% else %}

                No results this season.

            {% endif %}

        </div>

        <div class="game-box double-box">
            <div class="{{ team.geographic_name|lower }}-box colour-box">
                NEXT GAME
            </div>

            {% if next_game %}

                {{ next_game.game_date|date:"d/m/Y" }}<br />

                {% if team == next_game.home_team %}
                    v <img class="small-logo" src="/media/{{ next_game.away_team.small_logo }}" />
                    <a class="standard-link" href="/teams/{{ next_game.away_team.geographic_name|lower }}">
                        {{ next_game.away_team.abbreviation }}</a>
                {% else %}
                    @ <img class="small-logo" src="/media/{{ next_game.home_team.small_logo }}" />
                    <a class="standard-link" href="/teams/{{ next_game.home_team.geographic_name|lower }}">
                        {{ next_game.home_team.abbreviation }}</a>
                {% endif %}<br />

                {{ next_game.game_time }}

            {% else %}

                No fixtures available.

            {% endif %}

        </div>

    </div>

    <span id="full-details"><a class="standard-link" href="/scores/{{ team.geographic_name|lower }}">[Full Schedule]</a></span>

    <div class="{{ team.geographic_name|lower }}-box colour-box">
        STANDINGS
    </div>

    <div class="sub-header">
        {{ conference }}
    </div>

    {% include 'standings.html' %}

    <span id="full-details"><a class="standard-link" href="/standings/">[Full Standings]</a></span>

    <div class="{{ team.geographic_name|lower }}-box colour-box">
        TEAM NEWS
    </div>

    <div class="link-list">
        {% for item in items|slice:':5' %}

            {% if team in item.teams.all %}

                <div class="news-link">
                    <span class="arrow">&#9658;</span>
                    <a class="standard-link" href="/news/{{ item.id }}/">
                        {{ item.title }}
                    </a>
                </div>

            {% endif %}

        {%  endfor %}
    </div>

    <span id="full-details">
        <a class="standard-link" href="/news/{{ team.geographic_name|lower }}">
            [All Articles]
        </a>
    </span>

    <div class="{{ team.geographic_name|lower }}-box colour-box">
        FORUM
    </div>

    <div class="link-list">
        {% for thread in board.threads.all %}

                <span class="arrow">&#9658;</span>
                    <a class="standard-link" href="/thread/{{ thread.id }}/">
                        {{ thread.title }}
                    </a>

        {%  endfor %}
    </div>

    <span id="full-details">
        <a class="standard-link" href="/forum/{{ team.geographic_name|lower }}">
            [All Threads]
        </a>
    </span>

{% endblock %}