<div class="comment-body">

    {% if not comment.user.profile_picture %}
        {% if not comment.user.favourite_team %}
            <img class="comment-logo" src="/media/images/users/default.png" />
        {% else %}
            <img class="comment-logo" src="/media/{{ comment.user.favourite_team.large_logo }}" />
        {% endif %}
    {% else %}
        <img class="comment-logo" src="/media/{{ comment.user.profile_picture }}" />
    {% endif %}

    <div class="comment-user">
        {% if user.is_authenticated %}
            {% if user == comment.user %}
                <a class="table-link" href="/profile/">
            {% else %}
                <a class="table-link" href="/profile/{{ comment.user_id }}">
            {% endif %}
                {{ comment.user }}
            </a>
        {% else %}
            {{ comment.user }}
        {% endif %}
    </div>

    <div class="comment-detail">
        {{ comment.created_date|date:'d F Y, H:i' }}
    </div>

    <div class="comment-text">
        {{ comment.comment|safe }}
    </div>

    {% if user == comment.user or user.is_staff %}
        <div class="comment-detail comment-controls">
            <a class="table-link" href="{% url 'edit_comment' item.id comment.id %}">[Edit]</a>
            <span class="alert-link">[Delete]</span>
        </div>
    {% endif %}

    <div class="popup-wrapper">
        <div class="alert-message">
            <p>Confirmation:</p>
            <p>Are you sure you want to delete?</p>
            <div class="content-link-light">
                <a href="{% url 'delete_comment' item.id comment.id %}">OK</a>
            </div>
            <div class="content-link-light alert-link">
                Cancel
            </div>
        </div>
    </div>

</div>