{% load staticfiles %}
{% load flatpages %}
{% get_flatpages as flatpages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>British and Irish Baseball League</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
	<link rel="stylesheet" media="screen and (min-width: 801px)" href="{% static 'css/801.css' %}" />
    <link rel="icon" href="{% static 'img/icons/favicon.ico' %}" />
    {% block head_js %}{% endblock %}
</head>
<body>

    <header>

        <div id="teams-header">
            {% for team in teams %}
                <div class="header-logos">
                    <a href="{% url 'team_page' team.geographic_name|lower %}">
                        <img class="header-logo" src="{{ MEDIA_URL }}{{ team.large_logo }}" alt=
                                "{{ team.geographic_name }}" />
                    </a>
                </div>
            {%  endfor %}
        </div>

        <div id="league-header">
            <div id="league-logo">
                <a href="{% url 'home' %}"><img class="home-logo" src="{{ MEDIA_URL }}{{ league.logo }}" /></a>
            </div>
            <div id="league-name">
                {{ league.name|upper }}
            </div>
            <div id="menu-button">
                &#8801;
            </div>
        </div>

    </header>

	    <nav id="main-menu">
		    <a class="menu-link" href="{% url 'home' %}">Home</a>
		    <a class="menu-link" href="{% url 'news_index' %}">News</a>
		    <a class="menu-link" href="{% url 'blog_home' %}">Blogs</a>
		    <a class="menu-link" href="{% url 'score_index' %}">Scores</a>
		    <a class="menu-link" href="{% url 'standings' %}">Standings</a>
		    <a class="menu-link" href="{% url 'team_index' %}">Teams</a>
		    <a class="menu-link" href="{% url 'archive' %}">Archive</a>
		    <a class="menu-link" href="{% url 'store_front' %}">Store</a>
		    <a class="menu-link" href="{% url 'premium_home' %}">Premium</a>
		    <a class="menu-link" href="{% url 'forum' %}">Forum</a>
            {% if user.is_authenticated %}
                <a class="menu-link" href="{% url 'user_profile' %}">Profile</a>
                <a class="menu-link" href="{% url 'logout' %}">Log Out</a>
            {% else %}
                <a class="menu-link" href="{% url 'register' %}">Register</a>
                <a class="menu-link" href="{% url 'login' %}">Log In</a>
            {% endif %}
        </nav>

    <main>

        <div id="messages">
            {% for message in messages %}
                <div class="{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>

        {% block content %}
        {% endblock %}

    </main>

        {% block below %}
        {% endblock %}

    <footer>

        <div id="social-media">
            VISIT US ON SOCIAL MEDIA
            <div id="icons">
                <div class="social">
                    <a href="http://www.facebook.com">
                        <img class="social-icon" src="{% static 'img/social/facebook.png' %}"
                             alt="Facebook" />
                    </a>
                </div>
                <div class="social">
                    <a href="http://www.twitter.com">
                    <img class="social-icon" src="{% static 'img/social/twitter.png' %}" alt="Twitter" />
                    </a>
                </div>
                <div class="social">
                    <a href="http://www.instagram.com">
                    <img class="social-icon" src="{% static 'img/social/instagram.png' %}" alt="Instagram" />
                    </a>
                </div>
                <div class="social">
                    <a href="http://www.youtube.com">
                    <img class="social-icon" src="{% static 'img/social/youtube.png' %}" alt="YouTube" />
                    </a>
                </div>
            </div>
        </div>

        <div id="footer-content">
            <a class="footer-link" href="{% url 'contact' %}">Contact Us</a>
            {% for page in flatpages %}
                | <a class="footer-link" href="{{ page.url }}">{{ page.title }}</a>
            {% endfor %}
            <div id="copyright">&#169; {% now 'Y' %} British and Irish Baseball League</div>
        </div>

    </footer>

	<script src="{% static 'js/custom.js' %}"></script>

</body>
</html>