{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>British and Irish Baseball League</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/default.css" %}">
	<link rel="stylesheet" media="screen and (min-width: 801px)" href="{% static "css/801.css" %}" />
    {% block head_js %}{% endblock %}
</head>
<body>

    <header>

        <div id="teams-header">
            {% for team in teams %}
                <div class="header-logos">
                    <a href="{% url 'team_page' team.geographic_name|lower %}">
                        <img class="header-logo" src="/media/{{ team.large_logo }}" alt="{{ team.geographic_name }}" />
                    </a>
                </div>
            {%  endfor %}
        </div>

        <div id="league-header">
            <div id="league-logo">
                <a href="{% url 'home' %}"><img class="home-logo" src="/media/images/league/bibl_logo.png" /></a>
            </div>
            <div id="league-name">
                BRITISH AND IRISH BASEBALL LEAGUE
            </div>
            <div id="menu-button">
                &#8801;
            </div>
        </div>

    </header>

	    <nav id="main-menu">
		    <a class="menu-link" href="{% url 'home' %}">Home Page</a>
		    <a class="menu-link" href="{% url 'news_index' %}">News</a>
		    <a class="menu-link" href="{% url 'blog_home' %}">Fan Blogs</a>
		    <a class="menu-link" href="{% url 'score_index' %}">Scores</a>
		    <a class="menu-link" href="{% url 'standings' %}">Standings</a>
		    <a class="menu-link" href="{% url 'team_index' %}">Teams</a>
		    <a class="menu-link" href="{% url 'archive' %}">Archives</a>
		    <a class="menu-link" href="{% url 'store_front' %}">Store</a>
		    <a class="menu-link" href="{% url 'premium_home' %}">Premium</a>
		    <a class="menu-link" href="{% url 'forum' %}">Forum</a>
            {% if user.is_authenticated %}
                <a class="menu-link" href="{% url 'user_profile' %}">Profile</a>
                <a class="menu-link" href="{% url 'logout' %}">Log Out</a>
            {% else %}
                <a class="menu-link" href="{% url 'register' %}">Register</a>
                <a class="menu-link" href="{% url 'login' %}">Log In</a>
            {% endif %}
        </nav>

    <main>

        <div id="messages">
            {% for message in messages %}
                <div class="{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>

        {% block content %}
        {% endblock %}

    </main>

        {% block below %}
        {% endblock %}

    <footer>

        <div id="social-media">
            <a class="social facebook"></a>
            <a class="social twitter"></a>
            <a class="social instagram"></a>
            <a class="social youtube"></a>
        </div>

        <div id="footer-content">
            <a class="footer-link" href="{% url 'home' %}">Contact Us</a> |
            <a class="footer-link" href="/info/privacy/">Privacy Policy</a> |
            <a class="footer-link" href="/info/terms/">Terms and Conditions</a>
            <div id="copyright">&#169; {% now 'Y' %} British and Irish Baseball League</div>
        </div>

    </footer>

	<script src="{% static "js/custom.js" %}"></script>

</body>
</html>