{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>British and Irish Baseball League</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/default.css" %}">
</head>
<body>

    <header>

        <div id="teams-header">
            {% for team in teams %}
                <div class="header-logos">
                    <a href="/teams/{{ team.geographic_name|lower }}">
                        <img class="header-logo" src="/media/{{ team.large_logo }}" alt="{{ team.geographic_name }}" />
                    </a>
                </div>
            {%  endfor %}
        </div>

        <div id="league-header">
            <div>
                <a href="/"><img class="home-logo" src="/media/images/league/bibl_logo.png" /></a>
            </div>
            <div id="league-name">
                BRITISH AND IRISH BASEBALL LEAGUE
            </div>
            <div id="menu-button">
                &#8801;
            </div>
        </div>

	    <nav id="main-menu">
		    <a class="menu-link" href="/">
			    Home Page
		    </a>
		    <a class="menu-link" href="/">
			    News
		    </a>
		    <a class="menu-link" href="/">
			    Blogs
		    </a>
		    <a class="menu-link" href="/">
			    Scores
		    </a>
		    <a class="menu-link" href="/">
			    Standings
		    </a>
		    <a class="menu-link" href="/teams/">
			    Teams
		    </a>
		    <a class="menu-link" href="/">
			    Store
		    </a>
		    <a class="menu-link" href="/">
			    Premium
		    </a>
		    <a class="menu-link" href="/">
			    Forum
		    </a>
		    <a class="menu-link" href="/">
			    Register
		    </a>
		    <a class="menu-link" href="/">
			    Log In
		    </a>
        </nav>

    </header>

    <main>

        {% block content %}
        {% endblock %}

    </main>

	<script src="/static/js/custom.js"></script>

</body>
</html>