{% extends 'base.html' %}

{% block content %}

    <div class="column-wrapper">

        <div id="details-column" class="column">

            <div id="page-header">
                CHANGE QUANTITY
            </div>

            <div class="page-detail">
                {{ item.item }}<br />
                Current quantity: {{ item.quantity }}<br />
            </div>

            <!-- Form to change the quantity of an item. -->
            <form id="inline-form" method="post" action="{{ form_action }}">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="default-button" type="submit">{{ button_text }}</button>
            </form>

        </div>

        <div id="stats-column" class="column">

            {% include 'store_sidebar.html' %}

        </div>

    </div>

{% endblock %}