{% extends "base.html" %}
{% load staticfiles %}
 
{% block head_js %}
  <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
  <script type="text/javascript">
      //<![CDATA[
      Stripe.publishableKey = '{{ publishable }}';
      //]]>
  </script>
  <script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}
 
{% block content %}

    <div class="column-wrapper">

        <div id="details-column" class="column">

            <!-- Access to a checkout is only possible for the owner of the relevant shopping cart. -->
            {% if user == order.user %}

                <div id="page-header">
                    CHECKOUT
                </div>

                <!-- Forms to submit an order. -->
                <form role="form" method="post" id="default-form" action="{% url 'checkout' order_id %}">
                    <div id="credit-card-errors" style="display:none">
                        <div class="alert-message block-message error" id="stripe-error-message"></div>
                    </div>
                    {% csrf_token %}

                    <div class="column-wrapper">
                        <div class="column">
                            <!-- Address form for shipping details. -->
                            <div class="sub-header">
                                <strong>Shipping Details</strong>
                            </div>
                            {{ address_form.as_p }}
                        </div>
                        <div class="column">
                            <!-- Payment form for billing details. -->
                            <div class="sub-header">
                                <strong>Billing Details</strong>
                            </div>
                            {{ card_form.as_p }}
                        </div>
                    </div>

                    <input id="submit_order" name="commit" type="submit" value="Complete Order">
                </form>

            <!-- Show an error if a user tries to view another person's checkout. -->
            {% else %}

                <div id="page-header">
                    ERROR
                </div>

                <p>
                    Sorry, you are not authorised to view this page.
                </p>

            {% endif %}

        </div>

        <div id="stats-column" class="column">

            {% include 'store_sidebar.html' %}

        </div>

    </div>

{% endblock %}