{% extends 'base.html' %}
{% load store_tags %}

{% block content %}

    <div class="column-wrapper">

        <div id="details-column" class="column">

            <div id="page-header">
                PAST ORDERS
            </div>

            <p>
                <strong>Logged in as:</strong> {{ user.username }}
            </p>

            <table class="store-table alternating-rows">
                <tr class='header-row'>
                    <td>#</td>
                    <td>Date</td>
                    <td>Total</td>
                </tr>
                {% for order in orders %}
                    <tr>
                        <td>
                            {{ order.id }}
                        </td>
                        <td>
                            {{ order.date|date:'d/m/Y, H:i' }}
                        </td>
                        <td>
                            <a class="standard-link" href="{% url 'order_details' order.id %}">
                                {{ order.cost|price_display }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>

        </div>

        <div id="stats-column" class="column">

            {% include 'store_sidebar.html' %}

        </div>

    </div>

{% endblock %}