{% extends 'base.html' %}

{% block content %}

    <div id="page-header">
        BIBL PREMIUM
    </div>

    {% if user_is_subscribed %}
        <p>
            Premium Content
        </p>
    {% elif user.is_authenticated %}
        <p>
            <a class="standard-link" href="/premium/upgrade/">Upgrade</a> to view premium content.
        </p>
    {% else %}
        <p>
            <a class="standard-link" href="/register/premium/">Register and subscribe</a> to view premium content.
        </p>
        <p>
            Already subscribed? <a class="standard-link" href="/login/">Log in </a> to your account.
        </p>
    {% endif %}

{% endblock %}