{% extends 'base.html' %}
{% load store_tags %}

{% block content %}

    <div class="column-wrapper">

        <div id="details-column" class="column">

            <div id="page-header">
                PRODUCT DETAILS
            </div>

            <div id="product-details">

                <img class="product-border" src="/media/{{ product.picture }}"/><br />
                {{ product.team }}<br />
                {{ product.description }}<br />
                £{{ product.price }}<br />

                {% if out_of_stock %}
                    <p class="full-details">
                        NB: Size(s)

                        {% for size in out_of_stock %}
                            {{ size }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}

                        currently out of stock.
                    </p>
                {% endif %}

            </div>

            <form id="inline-form" method="post" action="{{ form_action }}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if user.is_authenticated %}
                    <button class="default-button" type="submit">{{ button_text }}</button>
                {% endif %}
            </form>

            {% if not user.is_authenticated %}
                <div class="sub-header">
                    Please <a class="standard-link" href="{% url 'register' %}">register</a> or
                    <a class="standard-link" href="{% url 'login' %}">log in</a> to add items.
                </div>
            {% endif %}

        </div>

        <div id="stats-column" class="column">

            {% include 'store_sidebar.html' %}

        </div>

    </div>

{% endblock %}