{% extends 'base.html' %}
{% load store_tags %}

{% block content %}

    <div class="column-wrapper">

        <div id="details-column" class="column">

            <div id="page-header">
                PRODUCT DETAILS
            </div>

            <div id="product-details">

                <div class="column-wrapper">

                    <div class="multi-column">

                        <img class="product-border" src="/media/{{ product.picture }}"/><br />
                        {{ product.team }}<br />
                        {{ product.description }}<br />
                        £{{ product.price }}<br />

                        <!-- If any sizes are out of stock, show the user a list of them. -->
                        {% if out_of_stock %}
                            <p class="full-details">
                                NB: Size(s)

                                {% for size in out_of_stock %}
                                    {{ size }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}

                                currently out of stock.
                            </p>
                        {% endif %}

                        <!-- Form to choose size and quantity. -->
                        <form id="inline-form" method="post" action="{{ form_action }}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            {% if user.is_authenticated %}
                                <button class="default-button" type="submit">{{ button_text }}</button>
                            {% endif %}
                        </form>

                        <!-- Users must be logged in to add items. -->
                        {% if not user.is_authenticated %}
                            <div class="sub-header">
                                Please <a class="standard-link"
                                          href="{% url 'register' %}?next={% url 'store_product' product.id %}">
                                    register</a> or
                                <a class="standard-link"
                                   href="{% url 'login' %}?next={% url 'store_product' product.id %}">
                                    log in</a> to add items.
                            </div>
                        {% endif %}

                    </div>

                    <div class="multi-column">

                        {% if product.type == 'Jersey' %}

                            PRODUCT INFORMATION

                            <ul class="product-list">
                                <li>Authentic replica of jerseys worn by BIBL players.</li>
                                <li>Includes BIBL logo sleeve patches.</li>
                                <li>100% polyester.</li>
                                <li>Ships within two working days of order.</li>
                                <li>We aim to deliver within seven working days.</li>
                            </ul>

                            SIZE GUIDE<br />
                            (Chest)

                            <ul class="product-list">
                                <li>XS: 28-30"</li>
                                <li>S: 32-34"</li>
                                <li>M: 36-38"</li>
                                <li>L: 40-42"</li>
                                <li>XL: 44-46"</li>
                                <li>XXL: 48-50"</li>
                            </ul>

                        {% elif product.type == 'Cap' %}

                            PRODUCT INFORMATION

                            <ul class="product-list">
                                <li>Authentic replica of caps worn by BIBL players.</li>
                                <li>Includes embroidered team logo.</li>
                                <li>BIBL logo embroidered on the back.</li>
                                <li>100% polyester.</li>
                                <li>Ships within two working days of order.</li>
                                <li>We aim to deliver within seven working days.</li>
                            </ul>

                            SIZE GUIDE<br />
                            (Head)

                            <ul class="product-list">
                                <li>S: 21"</li>
                                <li>M: 22"</li>
                                <li>L: 23"</li>
                                <li>XL: 24"</li>
                            </ul>

                        {% endif %}

                    </div>

                </div>

            </div>

        </div>

        <div id="stats-column" class="column">

            {% include 'store_sidebar.html' %}

        </div>

    </div>

{% endblock %}