{% extends "base.html" %}
{% load staticfiles %}
 
{% block head_js %}
  <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
  <script type="text/javascript">
      //<![CDATA[
      Stripe.publishableKey = '{{ publishable }}';
      //]]>
  </script>
  <script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}
 
{% block content %}

    <div id="page-header">
        REGISTER PREMIUM ACCOUNT
    </div>

        <form role="form" method="post" id="checkout-form" action="{% url 'register_premium' %}">
            <div id="credit-card-errors" style="display:none">
                <div class="alert-message block-message error" id="stripe-error-message"></div>
            </div>
            {% csrf_token %}
            {{ registration_form.as_p }}
            {{ subscription_form.as_p }}
            <input id="submit_order" name="commit" type="submit" value="Register">
        </form>

{% endblock %}