{% extends 'base.html' %}
{% load store_tags %}

{% block content %}

    <div id="page-header">
        STORE
    </div>

    {% if user == cart.user %}
        <div id="full-details">
            <a class="standard-link" href="/store/cart/">[View Cart]</a><br />
            <strong>{{ cart.items.count }}</strong> Items
        </div>
    {% endif %}

    <div id="team-list">
        {% for team in teams %}

            <div class="store-team">
                <a href="/store/{{ team.geographic_name|lower }}/">
                    <img src="/media/{{ team.large_logo }}/" alt="{{ team.geographic_name }} {{ team.nickname }}" />
                </a>
            </div>

        {% endfor %}
    </div>

{% endblock %}