
    {% if user == cart.user %}
        <div class="page-detail">
            <a class="standard-link" href="{% url 'shopping_cart' %}">[View Cart]</a><br />
            <strong>{{ cart.items.count }}</strong> Item(s)
        </div>
    {% endif %}

    <div class="sub-header">
        SHOP BY TEAM
    </div>

    <div id="team-list">

        {% for team in teams %}

            <div class="store-team">
                <a href="{% url 'store_team' team.geographic_name|lower %}">
                    <img src="/media/{{ team.large_logo }}/" alt="{{ team.geographic_name }} {{ team.nickname }}" />
                </a>
            </div>

        {% endfor %}

    </div>