{% extends 'base.html' %}
{% load store_tags %}

{% block content %}

    <div class="column-wrapper">

        <div id="details-column" class="column">

            <div id="page-header">
                BIBL STORE
            </div>

            <div class="sub-header">
                BROWSE ALL PRODUCTS
            </div>

            <div id="store-products">

                {% for product in products %}

                    <div class="product-details">

                        <a class="standard-link" href="/store/product/{{ product.id }}">
                            <img class="product-border" src="/media/{{ product.picture }}"/>
                        </a><br />
                        {{ product.team }}<br />
                        {{ product.description }}<br />
                        £{{ product.price }}<br />
                        <a class="standard-link" href="/store/product/{{ product.id }}">[View Details]</a>

                    </div>

                {% endfor %}

            </div>

            <div class="pagination-menu">

                {% for page in products.paginator.page_range %}
                    {% if page == current_page %}
                        <div class="pagination-current">
                            {{ page }}
                        </div>
                    {% else %}
                        <div class="pagination-button">
                            <a href="?page={{ page }}">
                                {{ page }}
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>

        </div>

        <div id="stats-column" class="column">

            {% include 'store_sidebar.html' %}

        </div>

    </div>

{% endblock %}