{% extends 'base.html' %}
{% load store_tags %}

{% block content %}

    <div id="page-header">
        STORE
    </div>

    {% if user.is_authenticated %}
        <span id="full-details">
            <a class="standard-link" href="/store/cart/">[View Cart]</a>
        </span>
    {% endif %}

    {% for product in products %}

        <p>
            {{ product.team }}<br />
            {{ product.description }}<br />
            £{{ product.price }}<br />
            <a class="standard-link" href="/store/product/{{ product.id }}">[View Details]</a>
        </p>

    {% endfor %}

{% endblock %}