{% extends "base.html" %}
{% load staticfiles %}
 
{% block head_js %}
  <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
  <script type="text/javascript">
      //<![CDATA[
      Stripe.publishableKey = '{{ publishable }}';
      //]]>
  </script>
  <script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}
 
{% block content %}

    <div class="column-wrapper">

        <div id="details-column" class="column">

        <h1>
            UPGRADE YOUR ACCOUNT
        </h1>

            <!-- Psyment form to upgrade from a standard account to premium. -->
            <form role="form" method="post" id="default-form" action="{% url 'upgrade' %}">
                <div id="credit-card-errors" style="display:none">
                    <div class="alert-message block-message error" id="stripe-error-message"></div>
                </div>
                {% csrf_token %}
                {{ form.as_p }}
                <input id="submit_order" name="commit" type="submit" value="Upgrade">
            </form>

        </div>

        <div id="stats-column" class="column for-desktop">

            {% include 'statistics_bar.html' %}

        </div>

    </div>

{% endblock %}