{% extends 'base.html' %}

{% block content %}

    <div id="page-header">
        FAN BLOG
    </div>

    {% if item.author.profile_picture %}
        <img class="blog-author" src="/media/{{ item.author.profile_picture }}" />
    {% elif item.author.favourite_team %}
        <img class="blog-author" src="/media/{{ item.author.favourite_team.large_logo }}" />
    {% else %}
        <img class="blog-author" src="/media/images/users/default.png" />
    {% endif %}

    <div class="blog-author-title">
        <a class="standard-link" href="/profile/{{ item.author.id }}">
            {{ item.author.username|truncatechars:15 }}
        </a>
    </div>

    <a class="standard-link" href="/teams/{{ item.author.favourite_team.geographic_name|lower }}/">
        {{ item.author.favourite_team }}
    </a>
    <br />

    {{ posts.count }}
    {% if posts.count == 1 %}
        post
    {% else %}
        posts
    {% endif %}

    {% if user == item.author %}
        <div class="content-link">
            <a href="/blogs/post/new/{{ thread.id }}">New Post</a>
        </div>
    {% endif %}

    <section class="blog-post">

        <div class="news-headline blog-title">
            {{ item.title }}
        </div>

        <div class="blog-details">
            {{ item.created_date|date:'j F Y, H:i' }}, {{ item.views }} views<br />
            <a class="table-link" href="{% url 'edit_blog' item.id %}">[Edit]</a>
            <span class="alert-link" onclick="confirmationAlert({{ item.id }})">[Delete]</span>
        </div>

        <div id="wrapper-{{ item.id }}" class="popup-wrapper hidden">
            <div id="alert-{{ item.id }}" class="alert-message hidden">
                <p>Confirmation:</p>
                <p>Are you sure you want to delete?</p>
                <div class="content-link-light">
                    <a href="{% url 'delete_blog' item.id %}">OK</a>
                </div>
                <div class="content-link-light alert-link" onclick="confirmationAlert({{ item.id }})">
                    Cancel
                </div>
            </div>
        </div>

        <div class="blog-content">
            {{ item.content|safe }}
        </div>

    </section>

    {% if user.is_authenticated %}
        <div class="content-link">
            <a href="{% url 'new_comment' item.id %}">Add a Comment</a>
        </div>
    {% else %}
        <div id="not-logged-in">
            You must be <a class="standard-link" href="/login/">logged in</a> to comment.
        </div>
    {% endif %}

    <div class="left-header">
        Comments <span id="show-hide">(Hide/Show)</span>
    </div>

    <section id="comments">

        {% for comment in item.comments.all %}

            {% include "comment_body.html" %}

        {% endfor %}

    </section>

    <span id="full-details">
        <a class="standard-link" href="/blogs/user/{{ item.author.username|lower }}/">[Blog Home]</a>
        <a class="standard-link" href="/blogs/">[Blogs Index]</a>
    </span>

{% endblock %}