{% extends 'base.html' %}

{% block content %}

    <div class="column-wrapper">

        <div id="details-column" class="column">

            <div id="page-header">
                FAN BLOG
            </div>

            {% if author.profile_picture %}
                <img class="blog-author" src="/media/{{ author.profile_picture }}" />
            {% elif author.favourite_team %}
                <img class="blog-author" src="/media/{{ author.favourite_team.large_logo }}" />
            {% else %}
                <img class="blog-author" src="/media/images/users/default.png" />
            {% endif %}

            <div class="blog-author-title">
                <a class="standard-link" href="{% url 'other_profile' author.id %}">
                    {{ author.username|truncatechars:15 }}
                </a>
            </div>

            <a class="standard-link" href="{% url 'team_page' author.favourite_team.geographic_name|lower %}">
                {{ author.favourite_team }}
            </a>
            <br />

            {{ all_posts.count }}
            {% if all_posts.count == 1 %}
                post
            {% else %}
                posts
            {% endif %}

            {% if user == author %}
                <div class="content-link">
                    <a href="{% url 'new_blog_post' %}">New Post</a>
                </div>
            {% endif %}

            {% for post in posts|slice:':5' %}

                <div class="blog-post">

                    <div class="blog-title">
                            <a class="standard-link" href="{% url 'blog_post' post.id %}">
                            {{ post.title }}
                        </a>
                    </div>

                    <div class="blog-details">
                        {{ post.created_date|date:'j F Y, H:i' }}, {{ post.views }} views
                    </div>

                    <div class="blog-content">
                        {{ post.content|safe|truncatewords:50 }}
                    </div>

                </div>

            {% endfor %}

            <div class="full-details">

                <div class="pagination-links">

                    <div class="pagination-section previous-page">
                        {% if posts.has_previous %}
                            <a class="standard-link" href="?page={{ posts.previous_page_number }}"><< Earlier Posts</a>
                        {% endif %}
                    </div>

                    <div class="pagination-section next-page">
                        {% if posts.has_next %}
                            <a class="standard-link" href="?page={{ posts.next_page_number }}">Later Posts >></a>
                        {% endif %}
                    </div>

                </div>

                <a class="standard-link" href="{% url 'blog_home' %}">[Blogs
                    Index]</a>

            </div>

        </div>

        <div id="stats-column" class="column for-desktop">

            {% include 'blog_sidebar.html' %}

        </div>

    </div>

{% endblock %}