{% extends 'base.html' %}
{% load staticfiles %}

{% block head_js %}
    <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
    <script type="text/javascript">
        tinyMCE.init({mode: "textareas", theme: "modern", plugins: "paste"});
    </script>
{% endblock %}

{% block content %}

    <div class="column-wrapper">

        <div id="details-column" class="column">

            <div id="page-header">
                NEW BLOG POST
            </div>

            <form id="default-form" method="post" action="{{ form_action }}">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="default-button" type="submit">{{ button_text }}</button>
            </form>

        </div>

        <div id="stats-column" class="column for-desktop">

            {% include 'blog_sidebar.html' %}

        </div>

    </div>

{% endblock %}