{% extends "base.html" %}
{% load staticfiles %}

{% block head_js %}
    <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
    <script type="text/javascript">
        tinyMCE.init({mode: "textareas", theme: "modern", plugins: "paste"});
    </script>
{% endblock %}

{% block content %}

    <div class="column-wrapper">

        <div id="details-column" class="column">


            <!-- If no comment exists, a new one can be created. -->
            {% if not comment_exists %}

                <h1>
                    POST A COMMENT
                </h1>

                <form id="default-form" method="post" action="{{ form_action }}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="default-button" type="submit">{{ button_text }}</button>
                </form>

            <!-- If a comment exists, only the author of the comment or the superuser can view the form.
            This is to prevent a user being able to edit someone else's comment. -->
            {% elif user == comment.user or user.is_superuser %}

                <h1>
                    EDIT COMMENT
                </h1>

                <form id="default-form" method="post" action="{{ form_action }}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="default-button" type="submit">{{ button_text }}</button>
                </form>

            <!-- Any other user will see an error message. -->
            {% else %}

                <h1>
                    ERROR
                </h1>

                <p>
                    Sorry, you are not authorised to view this page.
                </p>

            {% endif %}

        </div>

        <div id="stats-column" class="column for-desktop">

            {% include 'statistics_bar.html' %}

        </div>

    </div>

{% endblock %}