<div class="comment-body">

    <!-- If the commenter has a profile picture, show it at the top of their blog. If they don't, show their favourite
    team's logo. If they have neither, show the default icon. -->
    {% if not comment.user.profile_picture %}
        {% if not comment.user.favourite_team %}
            <img class="comment-logo" src="{{ MEDIA_URL }}{{ league.default_image }}" />
        {% else %}
            <img class="comment-logo" src="{{ MEDIA_URL }}{{ comment.user.favourite_team.large_logo }}" />
        {% endif %}
    {% else %}
        <img class="comment-logo" src="{{ MEDIA_URL }}{{ comment.user.profile_picture }}" />
    {% endif %}

    <div class="comment-user">
        <!-- Link to the commenter's profile if the user is logged in. Choose the URL depending on whether it is their
        own profile. -->
        {% if user.is_authenticated %}
            {% if user == comment.user %}
                <a class="table-link" href="{% url 'user_profile' %}">
            {% else %}
                <a class="table-link" href="{% url 'other_profile' comment.user.id %}">
            {% endif %}
                {{ comment.user }}
            </a>
        {% else %}
            {{ comment.user }}
        {% endif %}
    </div>

    <div class="comment-detail">
        {{ comment.created_date|date:'d F Y, g:i a' }}
    </div>

    <div class="comment-text">
        {{ comment.comment|safe }}
    </div>

    <!-- The user who posted the comment can edit or delete, as can anyone authorised as site staff. -->
    {% if user == comment.user or user.is_staff %}
        <div class="comment-detail comment-controls">
            <a class="table-link" href="{% url 'edit_comment' item.id comment.id %}">[Edit]</a>
            <span class="alert-link" onclick="confirmationAlert({{ comment.id }})">[Delete]</span>
        </div>
    {% endif %}

    <!-- JavaScript confirmation before a comment is deleted. -->
    <div id="wrapper-{{ comment.id }}" class="popup-wrapper hidden">
        <div id="alert-{{ comment.id }}" class="alert-message hidden">
            <p>Confirmation:</p>
            <p>Are you sure you want to delete?</p>
            <div class="content-link-light">
                <a href="{% url 'delete_comment' item.id comment.id %}">OK</a>
            </div>
            <div class="content-link-light alert-link" onclick="confirmationAlert({{ comment.id }})">
                Cancel
            </div>
        </div>
    </div>

</div>