{% extends "base.html" %}

{% block content %}

    <div class="column-wrapper">

        <div id="details-column" class="column">

            <div id="page-header">
                LATEST NEWS
            </div>

            <div class="{{ team.geographic_name|lower }}-text team-header">
                {{ team.geographic_name }} {{ team.nickname }}
            </div>

            <div class="news-items">

                <!-- Display lead story banner for the top item if the user is viewing the first page of stories. -->
                {% for item in items|slice:':1' %}
                    {% if current_page == 1 %}
                        <div class="banner-story">
                            <a class="banner-link" href="{% url 'news' item.id %}">
                                <!-- Show the article's cover image if one is set. Otherwise, show the default cover
                                image for the relevant category. -->
                                {% if item.cover_image %}
                                    <img class="cover-image" src="/media/{{ item.cover_image }}" />
                                {% else %}
                                    <img class="cover-image" src="/media/{{ item.category.default_image }}" />
                                {% endif %}
                            </a>
                            <div class="banner-headline">
                                <a class="banner-link" href="{% url 'news' item.id %}">{{ item.title }}</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="news-link">
                            <span class="arrow">&#9658;</span>
                            <a class="standard-link" href="{% url 'news' item.id %}">{{ item.title }}</a><br />
                        </div>
                    {% endif %}
                {% endfor %}

                <!-- For all other news stories, just display the headline link. -->
                {% for item in items|slice:'1:' %}
                        <div class="news-link">
                            <span class="arrow">&#9658;</span>
                            <a class="standard-link" href="{% url 'news' item.id %}">
                                {{ item.title }}
                            </a>
                        </div>
                {%  endfor %}

            </div>

            <!-- Pagination buttons. -->
            <div class="pagination-menu">

                {% for page in items.paginator.page_range %}
                    {% if page == current_page %}
                        <div class="pagination-current">
                            {{ page }}
                        </div>
                    {% else %}
                        <div class="pagination-button">
                            <a href="?page={{ page }}">
                                {{ page }}
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>

            <div class="full-details">
                <a class="standard-link" href="{% url 'team_page' team.geographic_name|lower %}">[Team Home]</a>
                <a class="standard-link" href="{% url 'news_index' %}">[News Home]</a>
            </div>

        </div>

        <div id="stats-column" class="column for-desktop">

            {% include 'statistics_bar.html' %}

        </div>

    </div>

{% endblock %}