{% extends "base.html" %}

{% block content %}

    <div class="column-wrapper">

        <div id="details-column" class="column">

            <section id="news-story">

                <div id="page-header">
                    BIBL NEWS
                </div>

                <div id="news-headline">
                    {{ item.title }}
                </div>

                <div class="item-details">
                    {{ item.created_date|date:'j F Y, g:i a' }}<br />Written by: {{ item.author }}
                </div>


                <div id="item-content">
                    {% if item.content_image %}
                        <div class="news-image">
                            <img src="/media/{{ item.content_image }}" />
                            <div class="image-caption">
                                {{ item.image_caption }}
                            </div>
                        </div>
                    {% endif %}
                    {{ item.content|safe }}
                </div>

                <div class="item-details">
                    Category: {{ item.category }} | {{ item.views }} views<br />
                    {% if item.teams.count > 0 %}
                        Teams:
                        {% for team in item.teams.all %}
                            <a class="{{ team.geographic_name|lower }}-tag team-tag" href=
                                    "{% url 'team_news' team.geographic_name|lower %}">
                                {{ team.geographic_name }} {{ team.nickname }}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>

            </section>

            {% if user.is_authenticated %}
                <div class="content-link">
                    <a href="{% url 'new_comment' item.id %}">Add a Comment</a>
                </div>
            {% else %}
                <div id="not-logged-in">
                    You must be <a class="standard-link" href="{% url 'login' %}">logged in</a> to comment.
                </div>
            {% endif %}

            <div class="left-header">
                Comments <span id="show-hide">(Hide/Show)</span>
            </div>

            <section id="comments">

                {% for comment in item.comments.all %}

                    {% include "comment_body.html" %}

                {% endfor %}

            </section>

            <div class="full-details">
                <a class="standard-link" href="{% url 'news_index' %}">[News Home]</a>
            </div>

        </div>

        <div id="stats-column" class="column for-desktop">

            {% include 'statistics_bar.html' %}

        </div>

    </div>

{% endblock %}