{% extends "base.html" %}

{% block content %}

    <div id="page-header">
        LATEST NEWS
    </div>

    <div class="{{ team.geographic_name|lower }}-text team-header">
        {{ team.geographic_name }} {{ team.nickname }}
    </div>

    <div class="news-items">
        {% for item in items %}

            {% if team in item.teams.all %}
                <span class="arrow">&#9658;</span> <a class="standard-link" href="/news/{{ item.id }}/">{{ item.title }}</a>
            {% endif %}

        {%  endfor %}
    </div>

    <span id="full-details">
        <a class="standard-link" href="/teams/{{ team.geographic_name|lower }}">[Team Home]</a>
        <a class="standard-link" href="/news/">[News Home]</a>
    </span>

{% endblock %}