{% extends "base.html" %}

{% block content %}

    <section id="news-story">

        <div id="news-headline">
            {{ item.title }}
        </div>

        <div class="item-details">
            {{ item.created_date }}<br />Written by: {{ item.author }}
        </div>

        <div id="item-content">
            {{ item.content|safe }}
        </div>

        <div class="item-details">
            Category: {{ item.category }} | {{ item.views }} views<br />
            Teams:
            {% for team in item.teams.all %}
                <a class="{{ team.geographic_name|lower }}-tag team-tag" href="/news/{{ team.geographic_name|lower }}">{{ team.geographic_name }} {{ team.nickname }}</a>
            {% endfor %}
        </div>

    </section>

    {% if user.is_authenticated %}
        <div id="comment-link">
            <a href="{% url 'new_comment' item.id %}">Add a Comment</a>
        </div>
    {% endif %}

    <div class="left-header">
        Comments...
    </div>

    <section id="comments">

        {% for comment in item.comments.all %}

            <div class="comment-body">

                <img class="comment-logo" src="/media/{{ comment.user.profile_picture }}" />

                <div class="comment-user">
                    {{ comment.user }}
                </div>

                <div class="comment-detail">
                    {{ comment.created_date|date:'d F Y, H:i' }}
                </div>

                <div class="comment-text">
                    {{ comment.comment|safe }}
                </div>

                <div class="comment-detail">
                    Rating: {{ comment.rating }}
                </div>

            </div>

        {% endfor %}

    </section>

{% endblock %}